{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Home</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>Welcome to my website. I built this website mainly for myself, but also for anyone else with an interest in learning. It contains personal notes from my previous college courses and math examples to help me (and you, possibly) understand content better. Further, I've included my own research and notes from reading the Great Books.</p>

  	<p>Who am I? I was born and raised in Grantsville, Utah. Grantsville is a very small town in Tooele County. I graduated with around 220 other students. After graduating in 2018, I started college at Utah State University. I began college life studying computer science. Once I decided I've had enough debugging (ironically enough I still code and debug a lot on a daily basis), I started taking more math classes and switched from majoring in computer science to majoring in applied mathematics. By broading my views, I'm now on schedule to graduate in Spring 2023 with a bachelors in applied math and two minors: computer science and physics. For my hobbies, I love school and I love to learn. When I'm not doing either of these I'm playing basketball, volleyball, chess, rock climbing, running, reading, writing, or playing music. </p>

    <p>Finally, if you see any mathematical and/or grammar inconsistencies, let me know by emailing me at kevinjrob9@gmail.com.</p>

  </div>
  
  {% if form.errors %}
  	{{ form.errors }}
  {% endif %}

</body>
</html>

{% endblock %}