{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Linear Algebra and Differential Equations: MATH 2250</h2>
  <div style="padding-right: 50px; padding-left: 50px;">
    <p>This class is obviously a combination of linear algebra and differential equations. I found this class quite useful and entertaining because of it's applied aspect. We did more than just examples on how to solve a DE. We  took time to understand what they mean.</p>
    <p>To start off, let's first go over some simple examples on how to solve linear vs. non-linear DE's (differential equations):</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear differential equation: $x' = t$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>Firstly, we know that $x' = \frac{dx}{dt}$. So let's rewrite as: $\frac{dx}{dt} = t$.</p>
      <p>After integrating both sides we get:</p>
      <p>$\int \frac{dx}{dt}dt = \int tdt \implies x(t) = \frac{1}{2}t^2 + C$</p>
      <p>$x(t) = \frac{1}{2}t^2 + C$ is our solution.</p>
      </div>
    </div>
    <p>Let's try another, similar looking differential equation:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear differential equation: $x' = x$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>Firstly, we know that $x' = \frac{dx}{dt}$. So let's rewrite as: $\frac{dx}{dt} = x$.</p>
      <p>Now we use an ODE method called separation of variables where we move all the same variables to one side of the equation. For our example, I'm going to move all the $x$'s to the left hand side of the equation:</p>
      <p>$\frac{1}{x}\frac{dx}{dt} = 1$. And now we integrate:</p>
      <p>$\int \frac{1}{x}\frac{dx}{dt}dt = \int 1dt \implies ln|x| = t + C$</p>
      <p>Now we exponentiate both sides: $e^{ln|x|} = e^{t + C} \implies x(t) = e^{t + C} = e^te^C = Ae^t$. Where $A$ is just another constant. Our final solution is:</p>
      <p>$x(t) = Ae^t$</p>
      </div>
    </div>
    <p>Now let's move on to another, more difficult example. This one is still linear however, it's second order because we have a variable inside where we take the second derivative of it.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the second order, linear differential equation: $x'' + 3x' + 2x = 6$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>There are a few ways to solve this second order differential equation. One of which is to just guess and check! Recall that our final solution is going to be a function $x(t) = blah$. We have to find $blah$ and $blah$ is what we will be guessing and checking for.</p>
      <p>You're probably thinking, "This is ridiculous! How am I suppose to just guess the solution of a very complicated equation?" To this I will say, by understanding derivatives. We need our function $x(t)$ to something where when we take a derivative, we don't get anything exponential. For example, $\sin(x)$. We could take the derivative of $\sin(x)$ 100 times and it wouldn't grow one bit. Another example of such a function would be $e^x$.</p>
      <p>Now, let's make a guess. By just looking at the problem, I'm going to guess $x(t) = 3$. If this were my guess, then x' = 0, and x'' = 0. Now after plugging everything in we get: $(0) + 3(0) + 2(3) = 6$. Wow! Lucky guess. Before moving on, I want to show that there are actually more solutions involving more in depth derivatives (using $\sin(x)$ or $e^x$).</p>
      <p>Let's take a look at the guess $x(t) = e^{-2t} \implies x' = -2e^{-2t} \implies x'' = 4e^{-2t}$.</p>
      <p>Now, plugging everything in we get:</p>
      <p>$(4e^{-2t}) + 3(-2e^{-2t}) + 2(e^{-2t}) = 6 \implies $</p>
      <p>$4e^{-2t} + -6e^{-2t} + 2e^{-2t} = 6 \implies 0 = 6$. Wrong! Thus, $e^{-2t}$ was an incorrect guess. But it was close! It looked like all we needed at the end was there to be $2(e^{-2t} + 3)$. Adding that plus 3 could be our solution. By modifying it slightly, let's try another guess:</p>
      <p>Guess is $x(t) = e^{-2t} + 3 \implies x' = -2e^{-2t} \implies x'' = 4e^{-2t}$</p>
      <p>Plug everything in:</p>
      <p>$(4e^{-2t}) + 3(-2e^{-2t}) + 2(e^{-2t} + 3) = 6 \implies $</p>
      <p>$4e^{-2t} + -6e^{-2t} + 2e^{-2t} + 6 = 6 \implies $</p>
      <p>$6e^{-2t} + -6e^{-2t} + 6 = 6 \implies 6 = 6$</p>
      <p>They are equal! Thus, $x(t) = e^{-2t} + 3$ is a possible solution and so is $x(t) = 3$.</p>
      </div>
    </div>
    <p>This method of guessing and checking is not necessarily preferred because it could take a long time to guess the correct solution. There are other ways to solve the equation above where like finding a characteristic equation to a homogeneous solution and then adding that solution to a calculated particular solution. Later in the course we will get into this a little more in depth.</p>
    <p><b>First Order DEs</b></p>
    <p>A first order differential equation has the following form:</p>
    <p style="text-align: center;">$\frac{dy}{dt} = ay + q(t)$</p>
    <p>Where $t$ is time, $y$ is "typically" height but can be anything, $a$ is a constant, and $q(t)$ is simply just a function of one variable: $t$.</p>
    <p>There are a few methods on solving such a differential equation. Gilbert Strang derived an easy "plug and chug" solution for when the constant $a = 1$:</p>
    <p style="text-align: center;">$y(t) = \int_{0}^{t} e^{t-s}q(s)ds$&emsp;&emsp; solves &emsp;&emsp;$\frac{dy}{dt} = y + q(t)$</p>
    <p>To prove this, let's derive our defined $y(t)$ above:</p>
    <p>$\frac{dy}{dt} = e^t\int_{0}^{t}e^{-s}q(s)ds * e^t(e^{-t}q(t)) \implies \frac{dy}{dt} = y + q(t)$</p>
    <p>This method is a quick and fast way to solve the a first order differential equation when the constant $a$ is equal to one.</p>
    <p><b>Taylor Series Practice:</b></p>
    <p>This is a just a quick taylor series review. Let's let $f(t) = e^{3t}$ and let $a = 0$. Now let's solve for the Taylor series:</p>
    <p>$$\sum_{n=1}^{4} \frac{f^n(a)}{n!}(t - a)^n$$</p>
    <p>Plugging in some values, we get:</p>
    <p>$\frac{f'(0)}{1!}(t - 0)^1 + \frac{f''(0)}{2!}(t - 0)^2 + \frac{f'''(0)}{3!}(t - 0)^3 + \frac{f''''(0)}{4!}(t - 0)^4 \implies$</p>
    <p>$\frac{3e^{3(0)}}{1}(t)^1 + \frac{9e^{3(0)}}{2}(t)^2 + \frac{27e^{3(0)}}{6}(t)^3 + \frac{81e^{3(0)}}{24}(t)^4 \implies$</p>
    <p>$3t + \frac{9}{2}t^2 + \frac{27}{6}t^3 + \frac{27}{8}t^4$</p>
    <p>This our taylor series approximation. Now let's talk a little bit about interest.</p>
    <p><b>Interest</b></p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear differential equation: $\frac{dy}{dt} = 0.05y$ with $y(0) = 100$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>From earlier calculations, we know how to solve this equation, this time I really want to break down every piece and treat it like a bank account. For this scenario, we can view $y(0) = 100$ as the initial amount of money in the bank. At time $0$, we have \$100 in the bank. Now what is the differential equation telling us? $\frac{dy}{dt} = 0.05y$ is the rate of change of money in our bank account. 0.05 is the interest rate! Now let's solve the differential equation:</p>
      <p>$\frac{dy}{dt} = 0.05y \implies \frac{1}{y}\frac{dy}{dt} = 0.05 \implies $</p>
      <p>Integrate both sides: $\int\frac{1}{y}\frac{dy}{dt}dt = \int0.05dt \implies ln|y| = 0.05t + C$</p>
      <p>Now exponentiate both sides: $e^{ln|y|} = e^{0.05t + C} \implies y = Ae^{0.05t}$</p>
      <p>Now that we have our solution, let's use the initial condition to solve for $C$:</p>
      <p>$100 = Ce^{0.005(0)} \implies C = 100$</p>
      <p>Thus our final solution is: $y(t) = 100e^{0.05t}$. To sum up, if we have a bank with an interest rate of 0.05 and we put in $100 at time $t = 0$, then we can use our solution to find out how much money we would have in say, 5 years:</p>
      <p>$y(5) = 100e^{0.05(5)} = 100e^{0.25} \approx \$128.40$</p>
      </div>
    </div>
    <p>Let's write out the most general form of a first order linear differential equation: $y' = ry + q(t)$. This is a most interesting equation when money is involved. If we go back to our bank account, in this equation, we can denote $r$ as interest, $y'$ as the change in money in our bank account over time, and $q(t)$ as the annual addition of money that we put in our bank account. Before applying this bank account idea, let's first solve this differential equation by using a method called "finding the integrating factor".</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear differential equation: $y' = ry + q(t)$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>With an equation of this form, we can find what's called an integrating factor. An integrating factor is the following:</p>
      <p>Integrating Factor: $ \mu(t) = M(t) = e^{-\int p(t)dt}$</p>
      <p>Where $p(t) = r$. Typically the integrating factor is denoted my $\mu(t)$ or $M(t)$, but you may use a reasonable variable of your choice as long as it is know that that variable denotes the integrating factor.</p>
      <p>Now, let's simplify our integrating factor: $\mu(t) = e^{-\int rdt} = e^{-rt + C} = Ae^{-rt}$</p>
      <p>Once we have our integrating factor, we want to rewrite our initial equation as $y' - ry = q(t)$ and multiply both sides of the equation by our integrating factor:</p>
      <p>$e^{-rt}(y' - ry) = e^{-rt}q(t)$ (Notice how I didn't include $A$ because they cancel each other out.)</p>
      <p>Simplying a little more: $y'e^{-rt} - re^{-rt}y = e^{-rt}q(t)$. NOW, this is an important discovery, take a look at the left hand side of the equation. It is equivalent to the derivative of $ye^{-rt}$. This is why using an integrating factor of such a differential equation works out so nicely! Let's rewrite the equation, integrate both sides, and solve for $y$ to get our finaly solution:</p>
      <p>$\frac{d}{dt}(ye^{-rt}) = e^{-rt}q(t) \rightarrow$ integrate $\rightarrow$</p> 
      <p>$\int\frac{d}{dt}(ye^{-rt})dt = \int e^{-rt}q(t)dt \implies$</p>
      <p>$ye^{-rt} = \int e^{-rt}q(t)dt + C \implies$</p>
      <p>Final solution: $y(t) = Ce^{rt} + e^{rt}\int e^{-rt}q(t)dt$</p>
      <p>I don't know about you, but I really want to factor that $e^{rt}$ into that integral. You can but you must make a change in variables:</p>
      <p>$e^{rt}\int e^{-rt}q(t)dt = e^{rt}\int e^{-rs}q(s)ds = \int e^{r(t-s)}q(s)ds$</p>
      <p>Now our final solution looks like: $y(t) = Ce^{rt} + \int e^{r(t-s)}q(s)ds$</p>
      <p>And this is the preferred form.</p>
      </div>
    </div>
    <p>Let's try another example where we define $r$ and $q(t)$ in the equation with an initial value:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear differential equation: $y' = 0.05y + 12000$ with $y(0) = 3000$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>Firstly, let's look at this problem as if money were related. $r = 0.05$ is the interest rate, $q(t) = 12000$ is the amount of money put into the bank account every year, and $y(0) = 3000$ is the initial amount of money we put into the bank account. Now let's rewrite the equation and find our integrating factor:</p>
      <p>$y' - 0.05y = 12000$</p>
      <p>Integrating Factor: $ \mu(t) = e^{-\int p(t)dt} = e^{-\int 0.05dt} = e^{-0.05t}$</p>
      <p>Now multiply the integrating factor by our differential equation (again, notice how we can ignore the constant from the integration above):</p>
      <p>$e^{-0.05t}(y' - 0.05y) = e^{-0.05t}12000 \implies$</p>
      <p>$e^{-0.05t}y' - e^{-0.05t}0.05y = e^{-0.05t}12000 \implies$</p>
      <p>$\frac{d}{dt}(ye^{-0.05t}) = e^{-0.05t}12000$</p>
      <p>Now let's integrate both sides of the equation:</p>
      <p>$\int\frac{d}{dt}(ye^{-0.05t})dt = \int e^{-0.05t}12000dt \implies$</p>
      <p>$ye^{-0.05t} = \frac{12000}{-0.05}e^{-0.05t} + C \implies$</p>
      <p>$y = e^{0.05t} * (\frac{12000}{-0.05}e^{-0.05t} + C)$</p>
      <p>With some simplification, I found the general solution to be: $y = -240,000 + Ce^{0.05t}$</p>
      <p>Now, if $y(0) = 3000$, then $3000 = -240000 + C \implies C = 243000$. Thus our final solution is:</p>
      <p>$y(t) = -240000 + 243000e^{0.05t}$</p>
      <p>For a real world example, if your bank has an annual interest rate of $r = 0.05$, and you put an additional \$12,000 in the bank every year, and start off your bank account with \$3,000, then in 5 years, you will have...</p>
      <p>$y(5) = -240000 + 243000e^{0.05(5)} \approx \$72018.18$</p>
      <p>\$72018.18 in your bank account! Cool!</p>
      </div>
    </div>
    <p>Let's try another example to express how nicely the Integrating Factor method solves nonhomogenous, linear differential equations:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear, nonhomogeneous differential equation: $y' = -y + 3 - e^{-2t}$ with $y(0) = 5$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>First, let's rewrite the equation in a nicer form: $y' + y = 3 - e^{-2t}$</p>
      <p>Now, let's find our integrating factor:</p>
      <p>$\mu(t) = e^{\int p(t)dt} = e^{\int 1dt} = e^t$</p>
      <p>Now that we have our integrating factor, let's multiply it to both sides of the differential equation:</p>
      <p>$e^t(y' + y) = e^t(3 - e^{-2t}) \implies \frac{d}{dx}(ye^t) = 3e^t - e^{-t}$</p>
      <p>Now let's integrate both sides of the equation and solve for $y$:</p>
      <p>$\int\frac{d}{dx}(ye^t)dt = \int 3e^t - e^{-t}dt \implies$</p>
      <p>$ye^t = 3e^t + e^{-t} + C \implies y(t) = 3 + e^{-2t} + Ce^{-t}$</p>
      <p>If $y(0) = 5$, then $5 = 3 + e^{-2(0)} + Ce^{-(0)} \implies$</p>
      <p>$5 = 3 + 1 + C \implies C = 1$ Thus, our final solution is:</p>
      <p>$y(t) = 3 + e^{-2t} + e^{-t}$</p>
      </div>
    </div>
    <p>Another differential equation that we need to take into consideration is one that contains a Heaviside function or also known as a Step function. The proper notation for a function is: $H(t - a)$, where $t$ is time and $a$ is some constant. The important thing to remember about the heasivide function is that it's a step function:</p> 
    <p style="text-align: center;">$H(t) = 0$ if $t < 0$ and $H(t) = 1$ if $t \ge 0$</p>
    <p>Another useful definiton of the Heaviside function is the following:</p>
    <p style="text-align: center;">$\int f(t)H(t)dt = \int^{\infty}_{0}f(t)dt$</p>
    <p>Let's try an example with the Heaviside function in the differential equation and let's use the above definitions:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Solve the first order, linear, nonhomogeneous differential equation: $y' = -y + H(t - 3)$ with $y(0) = 1$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>By now, we are comfortable with finding an integrating factor. After doing so, I get:</p>
      <p>$\frac{d}{dx}(ye^t) = e^tH(t - 3)$</p>
      <p>After integrating I get:</p>
      <p>$ye^t = \int e^tH(t - 3)dt \implies$</p>
      <p>$ye^t = \int^{3}_{0}e^tH(t - 3)dt + \int^{t}_{3} e^sH(t - 3)ds + C$</p>
      <p>The very reason I split up the integral is because of the Heaviside function. Take a look at the first integral. Notice how we are integrating from 0 to 3. By definition of the heaviside function, we know that, inside that integral, $H(t - 3)$ is equal to 0. Thus, that entire integral goes to 0. So, now we have the following:</p>
      <p>$ye^t = 0 + \int^{t}_{3} e^sH(t - 3)ds + C$</p>
      <p>Now let's look at the next integral. Since, $H(t - 3)$ will always be positive (look at the bounds of the integral), we can treat $H(t - 3)$ as a constant, thus, our equation turns into:</p>
      <p>$ye^t = H(t - 3)\int^{t}_{3} e^sds \implies $</p>
      <p>$ye^t = H(t - 3)(e^t - e^3) \implies y(t) = H(t - 3)(1 - e^{-3t})$</p>
      <p>Note that this is our particular solution! Why? Because when we integrated, we only integrated from $\int^{t}_{0}$ and not $\int^{\infty}_{0}$. So we must include the homogeneous solution, which is the solution to the differential equation: $y' + y = 0$. Using an integrating factor, we know that the solution to this differential equation is: $y(t) = Ce^{-t}$. Now that we have our particular solution and our exact solution, we add them together and our complete solution is:</p>
      <p>$y(t) = H(t - 3)(1 - e^{-3t}) + Ce^{-t}$</p>
      <p>Now that we have our general solution, let's use the initial condition to solve for the exact solution:</p>
      <p>If $y(0) = 1$, then $1 = Ce^{-0} + (1 - e^{-3(0)})(0) \implies C = 1$</p>
      <p>Thus, our final solution is:</p>
      <p>$y(t) = H(t - 3)(1 - e^{-3t}) + e^{-t}$</p>
      </div>
    </div>
    <p>Now that we've gone over a few differential equations and methods to solve them, let's used some real world example problems. Let's discuss Newton's Law of Cooling in a differential equation:</p>
    <p><b>Cup of Coffee Example:</b></p>

    <p>Suppose that a function $u(t)$ is a temperature function with a given time variable $t$. Newton's Law of Cooling is basically this: Say we have a cup of hot coffee and place it into a fridge. Eventually, the temperature of our cup of coffee will change from being really hot, to the temperature inside the fridge. Such a differential equation will look like the following:</p>
    <p style="text-align: center;">$\frac{du}{dt} = rA - ru$</p>
    <p>Where $\frac{du}{dt}$ is the rate of temperature change with respect to time, $r$ is the rate of temperature change, $A$ is the temperature of our cups surroundings, and $u$ is a temperature variable. Let's proceed to solve this differential equation:</p>
    <p>$u' = rA - ru \implies u' + ru = rA$. Looks like we need to solve this differential equation by finding an integrating factor. Let $\mu = e^{\int p(t)dt} = e^{\int rdt} = e^{rt}$.</p>
    <p>Now we multiply it to our differential equation:</p>
    <p>$e^{rt}(u' - ru) = e^{rt}(rA) \implies ue^{rt} = rA*e^{rt}$. Now intergrate both sides and solve for $u$:</p>
    <p>$\int (ue^{rt})' = \int e^{rt}rAdt \implies u = e^{-rt}\int e^{rt}rA dt + Ce^{-rt} \implies u = A + Ce^{-rt}.$</p>
    <p>Now let's say that the temperature of our cup of coffee is initially 185 degrees, thus, $u(0) = 185$. Further, let's say that our fridge has a temperature of 45 degrees. Thus, $A = 45$. Finally, let's say our rate of change in temperature is 0.024, thus, $r = 0.024$. Now we can solve for our $C$:</p>
    <p>$185 = 45 + C \implies C = 140$</p>
    <p>Finally, our differential equation is: $u(t) = 45 + 140e^{-0.24t}$.</p>
    <p>Conclusion: We were given a differential equation that tells us the rate of change of temperature for our cup of coffee if it's initial temperature was 185 degrees and its surrounding temperature (the fridge) is at 45 degrees. From our differential equation, we can plug in a certain time $t$ and find out what the temperature of our cup of coffee is at that time. Notice how if we leave our cup of coffee in the fridge for a very very long time, say a week, then the temperature of the cup will eventually go to 45 degrees! Specifically because the term $140e^{-0.024t}$ will be approximately 0 when our time $t$ is very large.</p>
    <p><b>Variation of Parameters</b></p>
    <p>There are some cases where we have a differential equation that is not homogeneous and has a function of $t$ on the right side of the equation. Such equations look like the following:</p>
    <p style="text-align: center;">$y' + ry = q(t)$</p>
    <p>Let's consider such an equation where $q(t) = \cos(2t)$ and $r = -2$, then the equation we wish to solve is the following:</p>
    <p style="text-align: center;">$y' - 2y = \cos(2t)$</p>
    <p>For this nonhomogeneous differential equation, we are going to want to solve this by combining what's called a null solution and a particular solution. The null solution is one where the right hand side of the equation is $0$. For our problem, the null solution will be the solution to the equation: $y' - 2y = 0$. This can be solved using either separation of variables or using and integrating factor. We've learned how to solve such an equation above, so without the work shown here, the null solution to the differential equation is $Ce^{2t}$, and it's denoted as $y_n = Ce^{2t}$. Now we need to solve for the particular solution.</p>
    <p>To find the particular solution, we have to consider what is in the right hand side of the given differential equation, for our case, it's $\cos(2t)$. The $\cos(2t)$ indicates that the particular solution will be of the form $A\cos(2t) + B\sin(2t)$. There are other types of solutions that the particular solution may have that depend on the right hand side of the equation, for our case, since the right hand side contains a $\sin()$ or a $\cos()$ then the solution will look like $A\cos(2t) + B\sin(2t)$. So all there's left to do now if solve for $A$ and $B$. To do this, we'll plug in $y_p = A\cos(2t) + B\sin(2t)$ and $y_p' = -2A\sin(2t) + 2B\cos(2t)$ into the differential equation. So we have:</p>
    <p>$y_p' - 2y_p = \cos(2t) \implies \big(-2A\sin(2t) + 2B\cos(2t)\big) - 2\big(A\cos(2t) + B\sin(2t)\big) = \cos(2t) \implies$</p>
    <p>$-2A\sin(2t) + 2B\cos(2t) - 2A\cos(2t) - 2B\sin(2t) = \cos(2t) \implies$</p>
    <p>Now we can convert the above equation into two seperable equations. This method is similar to what is done in partial fraction decomposition</p>
    <p>$\begin{equation}
          \left\{
                  \begin{array}{ll}
                      -2A\sin(2t) - 2B\sin(2t) = 0\\
                      2B\cos(2t) - 2A\cos(2t) = \cos(2t)
                  \end{array}
              \right.
          \end{equation} \implies $</p>
    <p>Now divide the top equation by $\sin(2t)$ and the bottom equation by $\cos(2t)$:</p>
    <p>$\begin{equation}
           \left\{
                \begin{array}{ll}
                    -2A - 2B = 0\\
                    2B - 2A = 1
                \end{array}
            \right.
        \end{equation}$</p>
    <p>In the first equation, let's solve for $B$:</p>
    <p>$-2A - 2B = 0 \implies -2B = 2A \implies B = -\frac{2A}{2} \implies B = -A$</p>
    <p>Now, let's plug $B = -A$ into the seon equation:</p>
    <p>$2(-A) - 2A = 1 \implies -2A - 2A = 1 \implies -4A = 1 \implies A = -\frac{1}{4}$</p>
    <p>Since $A = -\frac{1}{4}$, then we know that $B = \frac{1}{4}$. Finally, we can now write our particular solution to be: $y_p = -\frac{1}{4}\cos(2t) + \frac{1}{4}\sin(2t)$</p>
    <p>Combining our particular solution and null solution, we have found our general solution to be:</p>
    <p>$y(t) = y_n + y_p \implies y(t) = Ce^{2t} - \frac{1}{4}\cos(2t) + \frac{1}{4}\sin(2t)$</p>
    <p>Now, we can use the initial condition $y(0) = 0$, to solve for $C$:</p>
    <p>If $y(0) = 0$, then $0 = Ce^{2(0)} - \frac{1}{4}\cos(2(0)) + \frac{1}{4}\sin(2(0)) \implies$</p>
    <p>$0 = C - \frac{1}{4} \implies C = \frac{1}{4}$</p>
    <p>Thus, the final, exact solution for $y(0) = 0$ is: $y(t) = \frac{1}{4}e^{2t} - \frac{1}{4}\cos(2t) + \frac{1}{4}\sin(2t)$</p>
    <p></p>
  </div>
</body>
</html>

{% endblock %}