{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">My Classes</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>This is a collection of notes from my previous courses at Utah State University. What is written in this section came straight from my notebooks when I took the course. Here are links to the pages containing notes from math classes that I've taken so far:</p>
  	<p>
		<table>
			<tr><td><a href="/ordinaryDifferentialEquations/">Ordinary Differential Equations: MATH 2280</a></td></tr>
		</table>
	</p>

  </div>
  
</body>
</html>

{% endblock %}