{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Ordinary Differential Equations: MATH 2280</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>A differential equation is an equation involving some unknown function and it's derivatives.</p>
  	<p style="text-align: center;">$u(x) = \frac{du}{dx}$</p>
  	<p><b>Independent and Dependent Variables</b></p>
  	<p>Observe the following two equations:</p>
  	<p style="text-align: center;">$\frac{dy}{dx} - 4x^2 = 0$ and $y''' - 3y' = t$</p>
  	<p>For the first equation, $x$ is the independent variable and $y$ is the dependent variable. For the second equation, $t$ is the independent variable and $y$ is a dependent variable. We say they are "dependent" if they "depend" on something. For example, the change of $y$ depends on the change in $x$. $x$ is what's controlling the equation and the outcome, where the outcome, $y$, depends on what the independent variable $x$ is.</p>
  	<p>Try spotting the independent and dependent variables in the following equations:</p>
  	<p style="text-align: center;">$\frac{dp}{dt} = -10p$&emsp;&emsp;$\frac{dp}{dt} = 0.3tp - 0.006p^3$&emsp;&emsp;$\frac{\partial u}{\partial t} - 6\frac{\partial u}{\partial x} = 0$</p>
  	<p><b>ODE's and PDE's</b></p>
  	<p>A differential equation involving ordinary derivatives is called an ordinary differential equation or (ODE) and a differential equation that involves partial derivatives is called a partial differential equation or (PDE). </p>
  	<p>ODE: $x^2y'' - 6xy' + 4y = x$, where $y'' = \frac{d^2y}{dx^2}$ and $y' = \frac{dy}{dx}$</p>
  	<p>PDE: $\frac{\partial' u}{\partial t^2} - \frac{\partial' u}{\partial x^2} = \sin(x*y)$</p>
  	<p><b>Order of Equations</b></p>
  	<p>The order of any differential equation is given by the largest order derivative:</p>
  	<p>2nd Order PDE: $\frac{\partial' u}{\partial t^2} - \frac{\partial' u}{\partial x^2} = \sin(x*y)$</p>
  	<p>2nd Order ODE: $x^2y'' - 6xy' + 4y = x$</p>
  	<p>1st Order ODE: $\frac{dp}{dt} = 3p - 0.01p^2$</p>
	<p><b>Linear and Non-linear</b></p>
  	<p>An equation that involves non-linear terms in the dependent variable is called a non-linear differential equation. Otherwise the equation is linear:</p>
  	<p>Linear, 1st Order ODE: &emsp;&emsp;$\frac{dp}{dt} = -4p$</p>
  	<p>Non-linear, 1st Order ODE: $\frac{dp}{dt} = -4p -6p^2$</p>
  	<p>Non-linear, 1st Order PDE: $u\frac{\partial u}{\partial x} - \frac{\partial u}{\partial t^2} = 0$</p>
  	<div style="border: solid 2px; padding: 10px;">
	  	<p><b>Example:</b> Finding the general solution to a differential equation:</p>
	  	<div style="padding-left: 50px; padding-right: 50px;">
			<p>$\frac{d^2y}{dx^2} - 4x^2 = 0$</p>
			<p>This is a second order linear differential equation. The first step is to solve for $y$.</p>
			<p>$\frac{d^2y}{dx^2} - 4x^2 = 0 \implies \frac{d^2y}{dx^2} = 4x^2$</p>
			<p>Now integrate both sides with respect to x:</p>
			<p>$\int{\frac{d^2y}{dx^2}}dx = \int{4x^2}dx \implies \frac{dy}{dx} + C_1 = \frac{4}{3}x^3 + C_2 \implies \frac{dy}{dx} = \frac{4}{3}x^3 + C_2 - C_1$</p>
			<p>$C_1$ and $C_2$ are just unkown constants. When they are added together, we just get another constant, let's call it $C_3$. Now we have the following: </p>
			<p>$\frac{dy}{dx} = \frac{4}{3}x^3 + C_3$ and integrate again:</p>
			<p>$\int{\frac{dy}{dx}}dx = \int{\frac{4}{3}x^3 + C_3}dx \implies y + C_4 = \frac{1}{3}x^4 + C_3x + C_5 \implies y = \frac{1}{3}x^4 + C_3x + C_5 + C_4$</p>
			<p>Combine constants $C_4$ and $C_5$ to get $C_6$, and our final answer is:</p>
			<p><b>Solution:</b>$y = \frac{1}{3}x^4 + C_3x + C_6$</p>
			<p><b>Recap:</b> We solved the differential equation $\frac{d^2y}{dx^2} - 4x^2 = 0$ for $y$ and ended up getting $y = \frac{1}{3}x^4 + C_3x + C_6$ as a general solution. Thus, we can pick any combination of values of $C_3$ and $C_6$ to get an exact (or unique) solution. Possible unique solutions could be $y = \frac{1}{3}x^4 + 5x + 63$ or $y = \frac{1}{3}x^4 + 2x + 0.001$. In general, to find unique solutions, you must be given intial conditions.
	  	</div>
  	</div><br>
  	<div style="border: solid 2px; padding: 10px;">
	  	<p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
	  	<div style="padding-left: 50px; padding-right: 50px;">
			<p>$\frac{dy}{dx} = \sin(x)$, with $y(\pi) = 3$</p>
			<p>This is a first order linear differential equation. Let's start by integrating both sides with respect to $x$</p>
			<p>$\int{\frac{dy}{dx}}dx = \int{\sin(x)}dx \implies y + C_1 = -\cos(x) + C_2 \implies y = -\cos(x) + C_2 - C_1$</p>
			<p>Let's combine constants $C_1$ and $C_2$ and define it as $C_3$, then our general soltuion is the following:</p>
			<p>$y = -\cos(x) + C_3$</p>
			<p>This is the general solution to the intial problem, but we were given intial conditions this time, so let's use them and find the exact solution.</p>
			<p>If $y(\pi) = 3$ and $y(\pi) = -\cos(\pi) + C_3$, then $3 = -\cos(\pi) + C_3 \implies C_3 = 3 + \cos(\pi) \implies C_3 = 3 - 1 = 2$</p>
			<p>We just solved for $C_3$, so now let's rewrite our final, unqiue solution as:</p>
			<p><b>Solution:</b> $y = -\cos(x) + 2$</p>
			<p><b>Recap:</b> We solved for the general solution of $\frac{dy}{dx} = \sin(x)$ and found it to be $y = -\cos(x) + C_3$. After using intial condition, $y(\pi) = 3$,we found the exact (or unique) solution to be $y = -\cos(x) + 2$.</p>
	  	</div>
  	</div>
  	<p>We can specify conditions on $y$ and it's derivatives to fix the constants of integration. If we specify the conditions at the same point, they're called initial conditions, (or initial values). We just did this in the last example.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{d^2y}{dx^2} = t - e^{-t}$ with $y(1) = -1$, $y'(1) = 1$</p>
      <p>This is a second order linear differential equation. Start solving by integration:</p>
      <p>$\int{\frac{d^2y}{dt^2}}dt = \int{t - e^{-t}}dt \implies \frac{dy}{dt} = \frac{1}{2}t^2 + e^{-t} + C_1$</p>
      <p>For the above, I just cut to the chase and combined the constants into one and called it $C_1$. Now let's integrate again:</p>
      <p>$\int{\frac{dy}{dt}}dt = \int{\frac{1}{2}t^2 + e^{-t} + C_1}dt \implies y = \frac{1}{6}t^3 - e^{-t} + C_1t + C_2$</p>
      <p>Again, I just cut to the chase and named the next combination of constants $C_2$. We have solved for the general solution. Now let's use the inital conditions and find the exact solution. The goal is to figure out what $C_1$ and $C_2$ are:</p>
      <p>Recall the first derivative of our problem is $\frac{dy}{dt} = y'(t) = \frac{1}{2}t^2 + e^{-t} + C_1$. If $y'(1) = 1$, then...</p>
      <p>$1 = \frac{1}{2}(1)^2 + e^{-(1)} + C_1 \implies C_1 = 1 - \frac{1}{2} - \frac{1}{e} \implies C_1 = \frac{1}{2} - \frac{1}{e}$</p>
      <p>If $y(1) = -1$, then...</p> 
      <p>$-1 = \frac{1}{6}(1)^3 - e^{-(1)} + C_1(1) + C_2 \implies C_2 = e^{-1} - C_1 - 1 - \frac{1}{6} \implies C_2 = \frac{1}{e} - C_1 - \frac{7}{6}$</p>
      <p>We know what $C_1$ is, so let's plug is in to the above equation and solve for $C_2$:</p>
      <p>$C_2 = \frac{1}{e} - (\frac{1}{2} - \frac{1}{e}) - \frac{7}{6} \implies C_2 = \frac{1}{e} - \frac{1}{2} + \frac{1}{e} - \frac{7}{6} \implies C_2 = \frac{2}{e} - \frac{5}{3}$</p>
      <p>Now let's plug in $C_1$ and $C_2$ into our gernal solution:</p>
      <p>$y = \frac{1}{6}t^3 - e^{-t} + (\frac{1}{2} - \frac{1}{e})t + (\frac{2}{e} - \frac{5}{3}) \implies y = \frac{1}{6}t^3 - e^{-t} + \frac{1}{2}t - \frac{1}{e}t + \frac{2}{e} - \frac{5}{3}$</p>
      <p>With some simplification, the final solution is the following:</p>
      <p><b>Solution:</b> $y = \frac{1}{6}t^3 - e^{-t} + \frac{e - 2}{2e}t + \frac{6 - 5e}{3e}$</p>
      <p><b>Recap:</b> We solved for the general solution and found it to be $y = \frac{1}{6}t^3 - e^{-t} + C_1t + C_2$. After using intial conditions, we solved for $C_1$ and $C_2$, then plugged them back into our general solution to find an exact solution.</p>
      </div>
    </div><br>
    <p><b>Directly Integrable ODE's</b></p>
  	<p>So far we have been lucky enough to have examples that are directly integrable. A directly integrable differential equation is of the following form:</p>
    <p style="text-align: center;">$\frac{dy}{dx} = F(x)$, where $F(x)$ is a function of x.</p>
    <p>Here are some more examples of differential equations that are directly integrable:</p>
    <p>1st Order: $\frac{dy}{dx} = f(x) \rightarrow$</p> 
    <p>&emsp;&emsp;Ex: $\frac{dy}{dx} = -e^{-x} \implies y(x) = -e^{-x} + C$</p>
    <p>2nd Order: $\frac{d^2y}{dx^2} = g(x) \rightarrow$</p> 
    <p>&emsp;&emsp;Ex: $\frac{d^2y}{dx^2} + 4\frac{dy}{dx} = h(x) \implies \frac{dy}{dx} + 4y = \int{h(x)}dx + C$</p>
    <p>3rd Order: $y''' = x*\cos(x)$</p>
    <p>In every example above we have done indefinite integration. This is when we don't place bounds in the integration step. Also I'd like to make a note (we'll be doing this in the next example) that $\frac{dy}{dx}$ is the same as $y'$. Here is another example of solve a differential equation where integration is indefinite:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$y' = x + \cos(x)$ with $y(1) = 7$</p>
      <p>This is a first order linear differential equation. Start solving by integration:</p>
      <p>$\int{y'}dx = \int{(x + \cos(x))}dx \rightarrow$ integrate $\rightarrow y(x) = \frac{1}{2}x^2 + \sin(x) + C$</p>
      <p>Since $y(1) = 7$, we have the following:</p>
      <p>$7 = \frac{1}{2}(1)^2 + \sin(x) + C \implies C = 7 - \frac{1}{2} - \sin(1) \implies C = \frac{13}{2} - \sin(1)$</p>
      <p>Thus, we have the following solution:</p>
      <p><b>Solution:</b> $y(x) = \frac{1}{2}x^2 + \sin(x) + \frac{13}{2} - \sin(1)$</p>
      </div>
    </div><br>
    <p><b>Solving Differential Equations using Definite Integrals</b></p>
    <p>Take a look at the following definition: $\int^a_b f(x)dx = F(x)\Big|_a^b = F(b) - F(a)$</p>
    <p>We can use this method to solve the exact problem in the last example:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions using definite integral method:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$y' = x + \cos(x)$ with $y(1) = 7$</p>
      <p>We know that the $y(1) = 7$ implies that $x_o = 1$ and $y_o = 7$. Now let's rewrite the problem and integrate:</p>
      <p>$\int^x_{x_o}\frac{dy}{ds}ds = \int^x_{x_o}s + \cos(s)ds$</p>
      <p>Don't be intimitadated by the $s$'s. All I did was replace all of the $x$'s in the intial problem to $s$'s. This is because we don't want to confuse integration of $s$'s with the $x$ bounds. This method is commonly known as adding a "dummy variable". After integration we get:</p>
      <p>$y(s)\Big|_{s=x_o}^{s=x} = (\frac{1}{2}s^2 + \sin(s))\Big|_{s=x_o}^{s=x} \implies y(x) - y(x_o) = (\frac{1}{2}x^2 + \sin(x)) - (\frac{1}{2}x_o^2 + \sin(x_o)) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - (\frac{1}{2}x_o^2 + \sin(x_o)) + y(x_o) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - \frac{1}{2}(1)^2 - \sin(1) + y(1) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - \frac{1}{2} - \sin(1) + 7 \implies$</p>
      <p><b>Solution:</b> $y(x) = \frac{1}{2}x^2 + \sin(x) + \frac{13}{2} - \sin(1)$</p>
      </div>
    </div><br>
    <p>The solutions from using the definite integral method and the indefinite integral method are equivalent! This is nice and useful, sometimes one method is faster or esaier to understand than the other.</p>
    <p><b>Special Integrals</b></p>
    <p>When solving these differential equations, it gets difficult to integrate at times. Luckily, some very smart people have solved hard integral problems. If you'd like to understand them more they can be found in integration books or on the web, but here are a few of them that we might find useful:</p>
    <p>a) $ln(x) = \int_1^x\frac{1}{s}ds$</p>
    <p>b) $\arctan(x) = \int_0^x\frac{1}{1 + s^2}ds$</p>
    <p>c) $erf(x) = \int_0^x\frac{2}{\sqrt(\pi)}e^{-s^2}ds$</p>
    <p>d) $Si(x) = \int_1^x\frac{\sin(s)}{s}ds$</p>
    <p></p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution of differential equation using one of our definitions from above</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{dy}{dx} = e^{-x^2}$ with $y(0) = 0$</p>
      <p>First integrate: $\int_{s=x_o}^{s=x}\frac{dy}{ds}ds = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(s)\Big|_{s=x_o}^{s=x} = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(x) - y(x_o) = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(x) = \int_{0}^{x}e^{-s^2}ds + 0$</p>
      <p>Now notice that we can multiply both sides by $(\frac{\sqrt{\pi}}{2} * \frac{2}{\sqrt{\pi}})$. Since the this is equivalent to 1, we can leave the left hand side alone, but we can change the right hand side to be the following:</p>
      <p>$y(x) = \int_{0}^{x}e^{-s^2}ds = \frac{\sqrt{\pi}}{2} * \frac{2}{\sqrt{\pi}} * \int_{0}^{x}e^{-s^2}ds = \frac{\sqrt{\pi}}{2} * erf(x)$</p>
      <p><b>Solution:</b> $y(x) = \frac{\sqrt{\pi}}{2} * erf(x)$</p>
      </div>
    </div><br>
    <p><b>Piecewise Defined Functions</b></p>
    <p>A piecewise defined function, in simple words, is a function where in a certain region, the function is different than in another region. The following are examples of piecewise defined functions (let $\frac{dy}{dx} = f(x)$):</p>
    <p>Example 1: \begin{equation}
                  f(x) = \left\{
                          \begin{array}{ll}
                              x^2 & \quad x \lt 2 \\
                              1 & \quad x \geq 2
                          \end{array}
                      \right.
                  \end{equation}
    </p>
    <p>Example 2: \begin{equation}
                  |x| = \left\{
                          \begin{array}{ll}
                              -x & \quad x \lt 0 \\
                              x & \quad x \geq 0
                          \end{array}
                      \right.
                  \end{equation}
    </p>
    <p><b>Special Piecewise Defined Functions</b></p>
    <p>A few a these "special" piecewise defined functions are the step function and the ramp function:</p>
    <p>Step Function: \begin{equation}
                      f(x) = \text{step}(x) = \left\{
                              \begin{array}{ll}
                                  0 & \quad x \lt 0 \\
                                  1 & \quad x \gt 0
                              \end{array}
                          \right.
                      \end{equation}
    </p>
    <p>Ramp Function: \begin{equation}
                      f(x) = \text{ramp}(x) = \left\{
                              \begin{array}{ll}
                                  0 & \quad x \lt 0 \\
                                  x & \quad x \gt 0
                              \end{array}
                          \right.
                      \end{equation}
    </p>
    <p>Let's now delve into solving Example 1, the Piecewise Defined Function.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution to the Piecewise Defined Function.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>\begin{align}
              \frac{dy}{dx} = f(x) = \left\{
                  \begin{array}{ll}
                      x^2 & \quad x \lt 2 & \text{(case 1)} \\
                      1 & \quad x \geq 2 & \text{(case 2)}
                  \end{array}
                  \;\;\;\;\;\;\;    \text{with} \;\;  y(0) = 0
              \right.
          \end{align}
      </p>
      <p>We need to solve this problem case by case. Let's start with the first case:</p>
      <p><b>Case 1: $x \lt 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xs^2ds \rightarrow$</p>
        <p>$y(x) - y(0) = \frac{1}{3}s^3\Big|_0^x \rightarrow$</p> 
        <p>$y(x) = \frac{1}{3}x^3$</p>
      </div>
      <p>We have found that for the first case, the solution to the differential equation is $y(x) = \frac{1}{3}x^3$. Now, onto the second case.</p>
      <p><b>Case 2: $x \geq 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(x)ds \rightarrow $</p>
        <p>$y(s)\Big|_0^x = \int_0^2f(s)ds + \int_2^xf(s)ds \rightarrow $</p>
        <p>$y(x) - y(0) = \int_0^2s^2ds + \int_2^x(1)ds \rightarrow $</p>
        <p>$y(x) = \frac{1}{3}s^3\Big|_0^2 + s\Big|_2^x \rightarrow $</p>
        <p>$y(x) = (\frac{8}{3} - 0) + (x - 2) \rightarrow $<p>
        <p>$y(x) = x + \frac{8}{3} - 2 \rightarrow $</p> 
        <p>$y(x) = x + \frac{2}{3}$</p>
      </div>
      <p>We have now found the solution to the differential equation for the second case. Now, combining the case 1 and case 2, we can display our final solution as:</p>
      <p><b>Solution:</b> \begin{align}
                              y(x) = \left\{
                                  \begin{array}{ll}
                                      \frac{1}{3}x^3 & \quad x \lt 2 \\
                                      x + \frac{2}{3} & \quad x \geq 2
                                  \end{array}
                              \right.
                          \end{align}</p>
      </div>
    </div><br>
    <p>Another example, a more complicated one involving the stair function.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution to the Piecewise Defined Function.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>\begin{equation*}
          \text{Let} \;\;\; \frac{dy}{dx} = f(x) \;\;\;\;\;\;\;
          f(x) = \begin{cases}
                       \text{stair}(x) & x \lt 4 \\
                       0 & x \geq 4
                 \end{cases} \;\;\; \quad
          \text{stair}(x) = \begin{cases}
                       0 & x < 0 \\
                       1 & 0 \leq x \lt 1 \\
                       2 & 1 \leq x \lt 2 \\
                       3 & 2 \leq x \lt 3 \\
                       \vdots & \vdots\\
                 \end{cases}
          \end{equation*}</p>
      <p>We are going to solve this problem just like we did the last. We have to break it down into steps:</p>
      <p><b>Case 1: $x \lt 0$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s)\Big|_0^x = \int_0^x0ds \implies \fbox{y(x) - y(0) = 0}$</p>
      </div>
      <p><b>Case 2: $0 \leq x \lt 1$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s) - y(0) = \int_0^x1ds \implies$</p>
        <p>$y(x) - y(0) = s\Big|_0^x \implies y(x) - y(0) = x - 0 \implies \fbox{y(x) - y(0) = x}$</p>
      </div>
      <p><b>Case 3: $1 \leq x \lt 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies \int_0^1\frac{dy}{dx}ds + \int_1^x\frac{dy}{dx}ds = \int_0^1f(s)ds + \int_1^xf(s)ds \implies$</p>
        <p>$y(s)\Big|_0^1 + y(s)\Big|_1^x = \int_0^1ds + \int_1^x2ds \implies y(1) - y(0) + y(x) - y(1) = s\Big|_0^1 + 2s\Big|_1^x \implies$</p>
        <p>Notice that in the above, $y(1) - y(1)$ cancels and we end up with:</p>
        <p>$y(x) - y(0) = 1 - 0 + 2x - 2 \implies \fbox{y(x) - y(0) = 2x - 1}$</p>
      </div>
      <p><b>Case 4: $2 \leq x \lt 3$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s)\Big|_0^x = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds \implies$</p> 
        <p>$y(x) - y(0) = (1) + 2s\Big|_1^2 + 3s\Big|_2^x \implies y(x) - y(0) = 1 + (4 - 2) + (3x + 6) \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3x - 6 \implies \fbox{y(x) - y(0) = 3x - 3}$</p>
      </div>
      <p><b>Case 5: $3 \leq x \lt 4$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(x) - y(0) = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds + \int_3^x(4)ds \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3s\Big|_2^3 + 4s\Big|_3^x \implies y(x) - y(0) = 3 + 9 - 6 + 4x - 12 \implies$</p>
        <p>$\fbox{y(x) - y(0) = 4x - 6}$</p> 
      </div>
      <p><b>Case 6: $x \leq 4$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(x) - y(0) = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds + \int_3^x(4)ds + \int_4^x(0)ds \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3 + 4s\Big|_3^4 + 0 \implies y(x) - y(0) = 1 + 2 + 3 + 16 - 12 \implies \fbox{y(x) - y(0) = 10}$</p>
      </div>
      <p>We have solved for each case! Now we can put everything into a nice solution:</p>
      <p><b>Solution:</b> \begin{equation*}
          y(x) = y(0) + \begin{cases}
                       0 & x < 0 \\
                       x & 0 \leq x \lt 1 \\
                       2x - 1 & 1 \leq x \lt 2 \\
                       3x - 3 & 2 \leq x \lt 3 \\
                       4x - 6 & 3 \leq x \lt 4 \\
                       10 & 4 \leq x
                 \end{cases}
          \end{equation*}</p>
      </div>
    </div><br> 
    <p><b>The Logistic Model: Population Density</b></p>
    <p>Now we will be getting into more complicated differential equations where we will use a method called separation of variables. These types of function will have the following Stanard Form where the right hand side of the equation involves two variables instead of one (x and y for example, instead of just x):</p>
    <p>\begin{equation*}
                 \begin{cases}
                       \frac{dy}{dx} = f(x, y) \\
                       y(x_o) = y_o
                 \end{cases}
          \end{equation*}</p>   
    <p>A popular differential equation of this form is called the logistic equation, where $t$ is time and $P$ is population. $\alpha$ and $\beta$ are rates and $P_o$ is initial population:</p>
    <p>\begin{equation*}
                 \text{Logistic Equation:} \;\;\;\begin{cases}
                       \frac{dP}{dt} = \alpha P - \beta P^2 \\
                       P(0) = P_o
                 \end{cases}
          \end{equation*}</p>
    <p>The goal is to solve for the population using separation of variables. Let's look at some examples:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find constant solution of differential equation.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$x^2\frac{dy}{dx} - 4x = 6$</p>
      <p>The first step is to put the equation into standard form:</p>
      <p>$x^2\frac{dy}{dx} - 4x = 6 \implies \frac{dy}{dx} = \frac{4x + 6}{x^2}$</p>
      <p>Since there was no $y$ in the problem, we need not place it on the other side of the equation. So we can directly integrate and find the solution:</p>
      <p>$\int\frac{dy}{dx}dx = \int\frac{4x + 6}{x^2}dx \implies y(x) = \int\frac{4}{x} + \frac{6}{x^2}dx \implies$</p>
      <p><b>Solution:</b> $y(x) = 4ln|x| - 6x^{-1} + C$</p>
      </div>
    </div><br>
    <p>Some problems we cannot solve so easily. Some are more intuitive and we have to guess and check for a solution instead.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the constant solution of differential equation.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{dy}{dx} + x^2y^2 = x^2$</p>
      <p>The first step is to put the equation into standard form:</p>
      <p>$\frac{dy}{dx} = x^2 - x^2y^2 \implies \frac{dy}{dx} = x^2(1 - y^2)$</p>
      <p>What if we consider $y$ as a constant? If $y$ is a constant, then we know that the derivative of $y$ must be 0: $\frac{dy}{dx} = \frac{d}{dx}($constant$) = 0$</p>
      <p>$\frac{dy}{dx} = 0 = x^2(1 - y^2) = x^2(1 - y)(1 + y)$</p>
      <p><b>Solution:</b> Let $y = 1$ or $-1$</p>
      </div>
    </div><br>
    <p>Let's try another exmaple like this, but a little more complicated.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the constant solution of differential equation.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{dy}{dx} = (y - 2x)(y^2 - 9)$</p>
      <p>Let's find the constant solution, again, meaning that $\frac{dy}{dx} = 0$</p>
      <p>$(y - 2x)(y^2 - 9) = 0 \implies (y - 2x)(y - 3)(y + 3) \implies y = 3, -3$, and $2x$<p> 
      <p>Since we are only looking for the constant solution, we end up with:</p>
      <p><b>Solution:</b> Let $y = 3$ or $-3$</p>
      </div>
    </div><br>
    <p><b>Partial Differentiation</b></p>
    <p><u>Theorem 3.2</u></p>
    <div style="padding-left: 30px;">
      <p>Suppose we consider the IVP (initial value problem):</p>
      <p>\begin{equation*}
          \begin{cases}
                       \frac{dy}{dx} = F(x, y) \\
                       y(x_o) = y_o
                 \end{cases}
          \end{equation*}</p>
      <p>Assume that $F(x, y)$ and $\frac{\partial f}{\partial y}$ are boath continuous on $\mathbb{R}$ defined as:</p>
      <p>$\mathbb{R} = \{(x, y) | \alpha < x < \beta, -\infty < y < \infty\}$, where $x_o \in (\alpha, \beta)$. Then the IVP has a unique solution on $x_o \in (\alpha, \beta)$. The solution is continuous and its derivative is also continuous.</p>
    </div>
    <p>For example of this theroem, take a look at the following:</p>
    <p>\begin{equation*}
          \begin{cases}
                       \frac{dy}{dx} = e^{xy} \\
                       y(1) = 3
                 \end{cases}
          \end{equation*}</p>
    <p>$F(x, y) = e^{xy}$ is continuous everywhere. $\frac{\partial F}{\partial y} = \frac{\partial}{\partial x}e^{xy} = e^{xy} * \frac{\partial}{\partial y}(xy) = e^{xy} * x = xe^{xy}$. And this is continuous everywhere. Thus the IVP has a unique solution everywhere in the $xy$ plane.</p>
    <p><b>Partial Derivatives</b></p>
    <p>This is when we are taking the derivative of a function with respect to a specific variable. So far we've only derived with respect to $x$ but we can also derive with respect to $y$ or any other such variable:</p>
    <p>$\frac{\partial F}{\partial y}(x, y) = \lim_{\Delta y\to\infty}\frac{F(x, y + \Delta y) - F(x, y)}{\Delta y}$</p>
    <p>$\frac{\partial F}{\partial x}(x, y) = \lim_{\Delta x\to\infty}\frac{F(x + \Delta x, y) - F(x, y)}{\Delta x}$</p>
    <p>Let's try a little example:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> What is the partial derivative with respect to $x$ and $y$ if $F(x, y) = \frac{x + y}{x - y}$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p><b>Solutions:</b></p>
      <p>$\frac{\partial F}{\partial x} = \frac{(1)(x - y) - (1)(x + y)}{(x - y)^2} = \frac{x - y - x - y}{(x - y)^2} = \frac{-2y}{(x - y)^2}$</p>
      <p>$\frac{\partial F}{\partial y} = \frac{(1)(x - y) - (-1)(x - y)}{(x - y)^2} = \frac{x - y + x + y}{(x - y)^2} = \frac{2x}{(x - y)^2}$</p>
      </div>
    </div><br>
    <p>Another quick example of taking the derivative with respect to $y$:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> What is the partial derivative with respect to $y$ if $F(x, y) = x^2y^2 + xy\cos(xy)$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p><b>Solution:</b></p>
      <p>$\frac{\partial F}{\partial y} = x^2(2y) + (x*1)\cos(xy) + (xy)(-\sin(xy) * x) = 2x^2y + x\cos(xy) - x^2y\sin(xy)$</p>
      </div>
    </div><br>
    <p><b>Separable Equations</b></p>
    <p>Earlier I mentioned separable equations but dismissed them and didn't provide any good examples. Now we will get into them. A separable equation is one that has the following form:</p>
    <p style="text-align: center;">$\frac{dy}{dx} = F(x, y) = f(x) * g(y)$</p>
    <p>Meaning, we can separate the equation into two functions, one function containing only $y$ and one containing only $x$.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> What is $g(y)$ and $f(x)$ in the following separable equation?: $\frac{dy}{dx} = x^2 - x^2y^2$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>Separate the $x$'s and the $y$'s:</p>
      <p>$\frac{dy}{dx} = x^2(1 - y^2)$</p>
      <p><b>Solution:</b> $f(x) = x^2$ and $g(y) = (1 - y^2)$</p>
      </div>
    </div><br>
    <p>Now let's try solving the differential equation in the example above using separation of variables:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the first order differential equation using separation of variables: $\frac{dy}{dx} = x^2(1 - y^2)$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p><b>Step 1:</b> Multiply both sides by an infinitesimal in $x \rightarrow dx$</p>
      <div style="padding-left: 20px;">
        <p>$\frac{dy}{dx} * dx = x^2(1 - y^2) * dx$</p>
      </div>
      <p><b>Step 2:</b> From calculus, we know that $\frac{dy}{dx}dx = dy$</p>
      <div style="padding-left: 20px;">
        <p>$dy = x^2(1 - y^2)dx$</p>
      </div>
      <p><b>Step 3:</b> Move the dependent variable factors to the left hand side of the equation</p>
      <div style="padding-left: 20px;">
        <p>$\frac{1}{1 - y^2}dy = x^2dx$</p>
        <p>(Notice how the left hand side only deals with $y$ and the right hand side only deals with $x$)</p>
      </div>
      <p><b>Step 4:</b> Integrate both sides with respect to the variables</p>
      <div style="padding-left: 20px;">
        <p>$\int\frac{1}{1 - y^2}dy = \int x^2dx$</p>
        <p>Let's first integrate the left hand side, to do this we need to use partial fractions:</p>
        <p>$\frac{1}{(1 - y)(1 + y)} = \frac{A}{1 - y} + \frac{B}{1 + y} \implies 1 = A(1 + y) + B(1 - y)$</p>
        <p>If we let $y = -1$, then $1 = B(1 + 1) + 0 \implies B = \frac{1}{2}$</p>
        <p>If we let $y = 1$, then $1 = A(1 + 1) + 0 \implies A = \frac{1}{2}$</p>
        <p>Now that we've solved for $A$ and $B$, we can rewrite our integration of the left hand side to be:</p>
        <p>$\int\frac{\frac{1}{2}}{1 - y} + \frac{\frac{1}{2}}{(1 + y)}dy = -\frac{1}{2}ln|1 - y| + \frac{1}{2}ln|1 + y| + C$</p>
        <p>Now after integrating the right hand side of the equation at the beginning of step 4, we can see it is $\frac{1}{3}x^3 + C$ and now let's combine the $C$'s from both integrations to get:</p>
        <p>$-\frac{1}{2}ln|1 - y| + \frac{1}{2}ln|1 + y| = \frac{1}{3}x^3 + C \implies \frac{1}{2}ln|\frac{1 + y}{1 - y}| = \frac{1}{3}x^3 + C \implies ln|\frac{1 + y}{1 - y}| = \frac{2}{3}x^3 + 2C$</p>
        <p>After multiplying a 2 everywhere, we see that we get $2C$, but $C$ is just a constant so $2C$ is a constant. So we can leave $2C$ to be $C$. Now let's exponentiate both sides:</p>
        <p>$\frac{1 + y}{1 - y} = e^{\frac{2}{3}x^3 + C} \implies \frac{1 + y}{1 - y} = e^{\frac{2}{3}x^3} + e^{C} \implies \frac{1 + y}{1 - y} = Ae^{\frac{2}{3}x^3}$</p>
        <p>Since $e^C$ is just another constant, we can just multiply it and denote it as a new constant $A$. Now let's simplify even further:</p>
        <p>$(1 + y) = (1 - y)Ae^{\frac{2}{3}x^3} \implies y(1 + Ae^{\frac{2}{3}x^3}) = Ae^{\frac{2}{3}x^3} - 1 \implies $</p>
      </div>
      <p><b>Solution:</b> $y(x) = \frac{Ae^{\frac{2}{3}x^3} - 1}{Ae^{\frac{2}{3}x^3} + 1}$</p>
      </div>
    </div><br>
    <p>Another quick example:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $\frac{dP}{dt} = \alpha P$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>We can solve this equation by separation of variables. Note that $f(t) = \alpha$ and $g(P) = P$:</p>
      <p>$\frac{dP}{dt}dt = \alpha Pdt \implies dP = \alpha Pdt \implies \frac{1}{P}dP = \alpha dt \implies \int\frac{1}{P}dP = \int\alpha dt \implies$</p>
      <p>$ln|P| = \alpha t + C \implies e^{ln|P|} = e^{\alpha t + C} \implies P(t) = e^{\alpha t} * e^{C} \implies$</p>
      <p><b>Solution:</b> $P(t) = Ae^{\alpha t}$</p>
      </div>
    </div><br>
    <p>Another problem of the same form but with initial conditions:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $\frac{dy}{dx} = \frac{y}{x}$ with $y(1) = 2$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>First off, let's recall that $y(1) = 2$ indicates that $y_o = 2$ and $x_o = 1$. Now let's separate varibales:</p>
      <p>$\frac{dy}{dx}dx = \frac{y}{x}dx \implies dy = \frac{y}{x}dx \implies \frac{1}{y}dy = \frac{1}{x}dx \implies \int_{y_o}^y\frac{1}{s}ds = \int_{x_o}^x\frac{1}{c}dc \implies$</p>
      <p>$ln|s|\Big|_{y_o}^y = ln|c|\Big|_{x_o}^x \implies ln|y| - ln|y_o| = ln|x| - ln|x_o| \implies ln|y| = ln|x| + ln|2| \implies e^{ln|y|} = e^{ln|2x|} \implies $</p>
      <p><b>Solution:</b> $y(x) = 2x$</p>
      </div>
    </div><br>
    <p>Earlier we discussed finding the constant solutions to a differential equation. Let's see this in action in another equation where we also solve the differential equation using separation of variables:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $\frac{dy}{dx} = 2x(y - 5)$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>First let's find the constant solutions. Remember that if $\frac{dy}{dx} = 0$, then the solution $y$ must be a constant.</p>
      <p>$\frac{dy}{dx} = 0 \implies 0 = 2x(y - 5) \implies y - 5 = 0 \implies y = 5$</p>
      <p>We have found the constant solution, now let's solve for the general solution of the differential equation:</p>
      <p>$\frac{dy}{dx}dx = 2x(y - 5)dx \implies dy = 2x(y - 5)dx \implies \frac{1}{y - 5}dy = 2xdx \implies $</p>
      <p>$\int\frac{1}{y - 5}dy = \int2xdx \implies ln|y - 5| = x^2 + C \implies y - 5 = e^{x^2 + C} \implies y = Ae^{x^2 + C}$</p>
      <p>Recall that when we separate what's in the exponent, we create a new constant and our general solution becomes: $y(x) = Ae^{x^2} + 5$</p>
      <p>Now, notice that since our constant solution is 5, we can plug in any number $x$ into the general solution and we'll still find that the exact solution is $y = 5$. For example, let's say $x = 12.9$. Then:</p>
      <p>$y(12.9) = Ae^{12.9^2} + 5 \implies 5 = Ae^{12.9^2} + 5 \implies 0 = Ae^{12.9^2} \implies A = 0$.</p>
      <p>If $A = 0$, then our solution is: $y(x) = 0e^{x^2} + 5 \implies $</p>
      <p><b>Solution:</b> $y(x) = 5$</p>
      </div>
    </div><br>
    <p>In many examples, it is smart to first look for a constant solution and then if there isn't one, we have to try other methods to find the solution. In the example above, we first searched for a constant solution and found one! In some cases, we may not be so lucky. For example, let's look at the following:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $\frac{dy}{dx} - x^2y^2 = x^2$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>First look for constant solutions!</p>
      <p>$\frac{dy}{dx} = 0 = F(x, y) = f(x) * g(y)$</p>
      <p>We need to ensure that $g(y) = 0$. If $g(y) = 1 + y^2$, then we need $(1 + y^2) = 0$. For this to be 0, we need $y^2 + 1 = 0 \implies y^2 = -1 \implies y = \sqrt{-1} = i$.</p>
      <p>Since $y = i$, we know that there can be no constant solution! Now let's just try to solve for the general solution using separation of variables:</p>
      <p>$dy = x^2(1 + y^2)dx \implies \frac{1}{1 + y^2}dy = x^2dx \implies \int\frac{1}{1 + y^2}dy = \int x^2dx \implies \arctan(y) = \frac{1}{3}x^2 + C \implies$</p>
      <p><b>Solution:</b> $y(x) = \tan(\frac{1}{3}x^3 + C)$</p>
      </div>
    </div><br>
    <p><b>First Order Linear ODE's</b></p>
    <p>Some equations we cannot simply separate variables and integrate. These such equations have the following form:</p>
    <p style="text-align: center;">$\frac{dy}{dx} + p(x)y = f(x)$</p>
    <p>It is impossible to separate the above expression into $x$'s on one side and $y$'s on the other. Therefore, we need a new method to solve this differential equation.</p>
    <p>The method we will use is based on the product rule of differentiation:</p>
    <p style="text-align: center;">$\frac{d}{dx}(\mu y) = \frac{d\mu}{dx}y + \mu \frac{dy}{dx}$</p>
    <p>Compare this to the standard form of the 1st order linear ODE: $\frac{dy}{dx} + p(x)y = f(x)$</p>
    <p>Multiply this ODE by $\mu(x):$</p>
    <p>$\mu(x)\frac{dy}{dx} + \mu(x)p(x)y = \mu(x)f(x)$.</p> 
    <p>The product rule indicates:</p> 
    <p>$\mu\frac{dy}{dx} + \frac{d\mu}{dx}y \implies \frac{d\mu}{dx} = \mu(x)p(x) \implies \frac{d\mu}{dx} = \mu p(x) \implies \frac{d\mu}{dx}dx = \mu pdx \implies d\mu = \mu pdx \implies \frac{1}{\mu}d\mu = pdx$</p>
    <p>Now we integrate:</p>
    <p>$\int\frac{1}{\mu}d\mu = \int pdx \implies \mu = e^{\int p(x)dx} \rightarrow $ integrating factor $\rightarrow \frac{d}{dx}(\mu p) = \frac{d\mu}{dx}y + \mu\frac{dy}{dx}$</p>
    <p>To clear this up, let's define some steps when we come across a problem with the form $\frac{dy}{dx} + p(x)y = f(x)$:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Steps on solving differential equation with the form: $\frac{dy}{dx} + p(x)y = f(x)$:</b></p>
      <div style="padding-left: 50px; padding-right: 50px;">
        <p><b>Step 1:</b> Compute an integrating factor:</p>
        <div style="padding-left: 20px;">
          <p>$\mu = e^{\int p(x)dx}$</p>
        </div>
        <p><b>Step 2:</b> Write out new equation to solve as:</p>
        <div style="padding-left: 20px;">
          <p>$\frac{d}{dx}(\mu y) = \mu f(x)$</p>
        </div>
        <p><b>Step 3:</b> Integrate.</p>
        <div style="padding-left: 20px;">
          <p>$\mu y = \int \mu(s)f(s)ds + C \implies y = \frac{1}{\mu(s)} \int\mu(s)f(s)ds + \frac{C}{\mu(x)}$</p>
        </div>
      </div>
    </div><br>
    <p>Finally, let's see this process in action with a few examples:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $y' + \frac{4}{x}y = x^3$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>Firstly, let's identify that $f(x) = x^3$ and $p(x) = \frac{4}{x}$.</p>
      <p>If $p(x) = \frac{4}{x}$, then we have:</p>
      <p>$\mu(x) = e^{\int p(x)dx} = e^{\int\frac{4}{x}dx} = e^{4ln|x|} = e^{ln|x^4|} = x^4$</p>
      <p>Now we solve $\frac{d}{dx}(\mu y) = \mu f(x)$:</p>
      <p>$\frac{d}{dx}(\mu y) = \mu f(x) \implies \frac{d}{dx}(x^4y) = x^3x^4 \implies \frac{d}{dx}(x^4y) = x^7$</p>
      <p>Now we need to integrate:</p>
      <p>$\int\frac{d}{dx}(x^4y)dx = \int x^7dx \implies x^4y = \frac{1}{8}x^8 + C \implies$</p>
      <p><b>Solution:</b> $y(x) = \frac{1}{8}x^4 + Cx^{-4}$</p>
      </div>
    </div><br>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $y' + 6xy = x^2$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>First find the integrating factor:</p>
      <p>$\mu = e^{\int 6xdx} = e^{3x^2}$</p>
      <p>$\frac{d}{dx}(\mu y) = \mu x^2 \implies \frac{d}{dx}(e^{3x^2} y) = e^{3x^2}x^2 \implies \int\frac{d}{dx}(e^{3x^2}y)dx = \int e^{3x^2}x^2dx \implies e^{3x^2}y = \int e^{3x^2}x^2dx + C \implies$</p>
      <p><b>Solution:</b> $y(x) = e^{-3x^2}\int e^{3x^2}x^2dx + Ce^{-3x^2}$</p>
      </div>
    </div><br>
    <p>When coming across differential equations like this, the key is to first try to rewrite the equation into the form: $\frac{dy}{dx} + p(x)y = f(x)$. For example, if we have the following function: $e^{2x}\frac{dy}{dx} = 40 - 3e^xy$. Then we rewrite it as: $\frac{dy}{dx} + 3e^{-x}y = 40e^{-2x}$</p>
    <p><b>U Substitution</b></p>
    <p>What if we come accross an equation we haven't learned to solve before? Say we have a differential equation that we cannot solve by direct integration, separation of variables, and it is not 1st Order Linear. The trick to solving such an equation is by u substitution. Let's look at an example:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find the solution of the differential equation: $\frac{dy}{dx} = (x + y)^2$</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>The equation cannot be solved by direct integration, we cannot separate the $x$'s and $y$'s, and it is not first order linear. Let's try a $u$ substitution by letting $u = x + y$:</p>
      <p>$u = x + y \implies y = u - x \implies \frac{dy}{dx} = \frac{du}{dx} - 1$</p>
      <p>Plug in:</p>
      <p>$\frac{du}{dx} - 1 = (u)^2 \implies \frac{du}{dx} = u^2 + 1$</p>
      <p>Now this is separable and we can solve by separation of variables (separating $u$ and $x$):</p>
      <p>$\frac{du}{dx}dx = (1 + u^2)dx \implies du = (1 + u^2)dx \implies \frac{1}{1 + u^2}du = dx \implies$</p> 
      <p>$\int \frac{1}{1 + u^2}du = \int 1dx \implies \arctan(u) = x + C \implies u = \tan(x + C) \implies$</p>
      <p>Now we plug in $u = x + y$</p>
      <p>$x + y = \tan(x + C) \implies$</p>
      <p><b>Solution:</b> $y(x) = \tan(x + C) - x$</p>
      </div>
    </div><br>
    <p>Let's see another example with this method:</p>
    
  </div>

</body>
</html>

{% endblock %}