{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Ordinary Differential Equations: MATH 2280</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>A differential equation is an equation involving some unknown function and it's derivatives.</p>
  	<p style="text-align: center;">$u(x) = \frac{du}{dx}$</p>
  	<p><b>Independent and Dependent Variables</b></p>
  	<p>Observe the following two equations:</p>
  	<p style="text-align: center;">$\frac{dy}{dx} - 4x^2 = 0$ and $y''' - 3y' = t$</p>
  	<p>For the first equation, $x$ is the independent variable and $y$ is the dependent variable. For the second equation, $t$ is the independent variable and $y$ is a dependent variable. We say they are "dependent" if they "depend" on something. For example, the change of $y$ depends on the change in $x$. $x$ is what's controlling the equation and the outcome, where the outcome, $y$, depends on what the independent variable $x$ is.</p>
  	<p>Try spotting the independent and dependent variables in the following equations:</p>
  	<p style="text-align: center;">$\frac{dp}{dt} = -10p$&emsp;&emsp;$\frac{dp}{dt} = 0.3tp - 0.006p^3$&emsp;&emsp;$\frac{\partial u}{\partial t} - 6\frac{\partial u}{\partial x} = 0$</p>
  	<p><b>ODE's and PDE's</b></p>
  	<p>A differential equation involving ordinary derivatives is called an ordinary differential equation or (ODE) and a differential equation that involves partial derivatives is called a partial differential equation or (PDE). </p>
  	<p>ODE: $x^2y'' - 6xy' + 4y = x$, where $y'' = \frac{d^2y}{dx^2}$ and $y' = \frac{dy}{dx}$</p>
  	<p>PDE: $\frac{\partial' u}{\partial t^2} - \frac{\partial' u}{\partial x^2} = \sin(x*y)$</p>
  	<p><b>Order of Equations</b></p>
  	<p>The order of any differential equation is given by the largest order derivative:</p>
  	<p>2nd Order PDE: $\frac{\partial' u}{\partial t^2} - \frac{\partial' u}{\partial x^2} = \sin(x*y)$</p>
  	<p>2nd Order ODE: $x^2y'' - 6xy' + 4y = x$</p>
  	<p>1st Order ODE: $\frac{dp}{dt} = 3p - 0.01p^2$</p>
	<p><b>Linear and Non-linear</b></p>
  	<p>An equation that involves non-linear terms in the dependent variable is called a non-linear differential equation. Otherwise the equation is linear:</p>
  	<p>Linear, 1st Order ODE: &emsp;&emsp;$\frac{dp}{dt} = -4p$</p>
  	<p>Non-linear, 1st Order ODE: $\frac{dp}{dt} = -4p -6p^2$</p>
  	<p>Non-linear, 1st Order PDE: $u\frac{\partial u}{\partial x} - \frac{\partial u}{\partial t^2} = 0$</p>
  	<div style="border: solid 2px; padding: 10px;">
	  	<p><b>Example:</b> Finding the general solution to a differential equation:</p>
	  	<div style="padding-left: 50px; padding-right: 50px;">
			<p>$\frac{d^2y}{dx^2} - 4x^2 = 0$</p>
			<p>This is a second order linear differential equation. The first step is to solve for $y$.</p>
			<p>$\frac{d^2y}{dx^2} - 4x^2 = 0 \implies \frac{d^2y}{dx^2} = 4x^2$</p>
			<p>Now integrate both sides with respect to x:</p>
			<p>$\int{\frac{d^2y}{dx^2}}dx = \int{4x^2}dx \implies \frac{dy}{dx} + C_1 = \frac{4}{3}x^3 + C_2 \implies \frac{dy}{dx} = \frac{4}{3}x^3 + C_2 - C_1$</p>
			<p>$C_1$ and $C_2$ are just unkown constants. When they are added together, we just get another constant, let's call it $C_3$. Now we have the following: </p>
			<p>$\frac{dy}{dx} = \frac{4}{3}x^3 + C_3$ and integrate again:</p>
			<p>$\int{\frac{dy}{dx}}dx = \int{\frac{4}{3}x^3 + C_3}dx \implies y + C_4 = \frac{1}{3}x^4 + C_3x + C_5 \implies y = \frac{1}{3}x^4 + C_3x + C_5 + C_4$</p>
			<p>Combine constants $C_4$ and $C_5$ to get $C_6$, and our final answer is:</p>
			<p><b>Solution:</b>$y = \frac{1}{3}x^4 + C_3x + C_6$</p>
			<p><b>Recap:</b> We solved the differential equation $\frac{d^2y}{dx^2} - 4x^2 = 0$ for $y$ and ended up getting $y = \frac{1}{3}x^4 + C_3x + C_6$ as a general solution. Thus, we can pick any combination of values of $C_3$ and $C_6$ to get an exact (or unique) solution. Possible unique solutions could be $y = \frac{1}{3}x^4 + 5x + 63$ or $y = \frac{1}{3}x^4 + 2x + 0.001$. In general, to find unique solutions, you must be given intial conditions.
	  	</div>
  	</div><br>
  	<div style="border: solid 2px; padding: 10px;">
	  	<p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
	  	<div style="padding-left: 50px; padding-right: 50px;">
			<p>$\frac{dy}{dx} = \sin(x)$, with $y(\pi) = 3$</p>
			<p>This is a first order linear differential equation. Let's start by integrating both sides with respect to $x$</p>
			<p>$\int{\frac{dy}{dx}}dx = \int{\sin(x)}dx \implies y + C_1 = -\cos(x) + C_2 \implies y = -\cos(x) + C_2 - C_1$</p>
			<p>Let's combine constants $C_1$ and $C_2$ and define it as $C_3$, then our general soltuion is the following:</p>
			<p>$y = -\cos(x) + C_3$</p>
			<p>This is the general solution to the intial problem, but we were given intial conditions this time, so let's use them and find the exact solution.</p>
			<p>If $y(\pi) = 3$ and $y(\pi) = -\cos(\pi) + C_3$, then $3 = -\cos(\pi) + C_3 \implies C_3 = 3 + \cos(\pi) \implies C_3 = 3 - 1 = 2$</p>
			<p>We just solved for $C_3$, so now let's rewrite our final, unqiue solution as:</p>
			<p><b>Solution:</b> $y = -\cos(x) + 2$</p>
			<p><b>Recap:</b> We solved for the general solution of $\frac{dy}{dx} = \sin(x)$ and found it to be $y = -\cos(x) + C_3$. After using intial condition, $y(\pi) = 3$,we found the exact (or unique) solution to be $y = -\cos(x) + 2$.</p>
	  	</div>
  	</div>
  	<p>We can specify conditions on $y$ and it's derivatives to fix the constants of integration. If we specify the conditions at the same point, they're called initial conditions, (or initial values). We just did this in the last example.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{d^2y}{dx^2} = t - e^{-t}$ with $y(1) = -1$, $y'(1) = 1$</p>
      <p>This is a second order linear differential equation. Start solving by integration:</p>
      <p>$\int{\frac{d^2y}{dt^2}}dt = \int{t - e^{-t}}dt \implies \frac{dy}{dt} = \frac{1}{2}t^2 + e^{-t} + C_1$</p>
      <p>For the above, I just cut to the chase and combined the constants into one and called it $C_1$. Now let's integrate again:</p>
      <p>$\int{\frac{dy}{dt}}dt = \int{\frac{1}{2}t^2 + e^{-t} + C_1}dt \implies y = \frac{1}{6}t^3 - e^{-t} + C_1t + C_2$</p>
      <p>Again, I just cut to the chase and named the next combination of constants $C_2$. We have solved for the general solution. Now let's use the inital conditions and find the exact solution. The goal is to figure out what $C_1$ and $C_2$ are:</p>
      <p>Recall the first derivative of our problem is $\frac{dy}{dt} = y'(t) = \frac{1}{2}t^2 + e^{-t} + C_1$. If $y'(1) = 1$, then...</p>
      <p>$1 = \frac{1}{2}(1)^2 + e^{-(1)} + C_1 \implies C_1 = 1 - \frac{1}{2} - \frac{1}{e} \implies C_1 = \frac{1}{2} - \frac{1}{e}$</p>
      <p>If $y(1) = -1$, then...</p> 
      <p>$-1 = \frac{1}{6}(1)^3 - e^{-(1)} + C_1(1) + C_2 \implies C_2 = e^{-1} - C_1 - 1 - \frac{1}{6} \implies C_2 = \frac{1}{e} - C_1 - \frac{7}{6}$</p>
      <p>We know what $C_1$ is, so let's plug is in to the above equation and solve for $C_2$:</p>
      <p>$C_2 = \frac{1}{e} - (\frac{1}{2} - \frac{1}{e}) - \frac{7}{6} \implies C_2 = \frac{1}{e} - \frac{1}{2} + \frac{1}{e} - \frac{7}{6} \implies C_2 = \frac{2}{e} - \frac{5}{3}$</p>
      <p>Now let's plug in $C_1$ and $C_2$ into our gernal solution:</p>
      <p>$y = \frac{1}{6}t^3 - e^{-t} + (\frac{1}{2} - \frac{1}{e})t + (\frac{2}{e} - \frac{5}{3}) \implies y = \frac{1}{6}t^3 - e^{-t} + \frac{1}{2}t - \frac{1}{e}t + \frac{2}{e} - \frac{5}{3}$</p>
      <p>With some simplification, the final solution is the following:</p>
      <p><b>Solution:</b> $y = \frac{1}{6}t^3 - e^{-t} + \frac{e - 2}{2e}t + \frac{6 - 5e}{3e}$</p>
      <p><b>Recap:</b> We solved for the general solution and found it to be $y = \frac{1}{6}t^3 - e^{-t} + C_1t + C_2$. After using intial conditions, we solved for $C_1$ and $C_2$, then plugged them back into our general solution to find an exact solution.</p>
      </div>
    </div><br>
    <p><b>Directly Integrable ODE's</b></p>
  	<p>So far we have been lucky enough to have examples that are directly integrable. A directly integrable differential equation is of the following form:</p>
    <p style="text-align: center;">$\frac{dy}{dx} = F(x)$, where $F(x)$ is a function of x.</p>
    <p>Here are some more examples of differential equations that are directly integrable:</p>
    <p>1st Order: $\frac{dy}{dx} = f(x) \rightarrow$</p> 
    <p>&emsp;&emsp;Ex: $\frac{dy}{dx} = -e^{-x} \implies y(x) = -e^{-x} + C$</p>
    <p>2nd Order: $\frac{d^2y}{dx^2} = g(x) \rightarrow$</p> 
    <p>&emsp;&emsp;Ex: $\frac{d^2y}{dx^2} + 4\frac{dy}{dx} = h(x) \implies \frac{dy}{dx} + 4y = \int{h(x)}dx + C$</p>
    <p>3rd Order: $y''' = x*\cos(x)$</p>
    <p>In every example above we have done indefinite integration. This is when we don't place bounds in the integration step. Also I'd like to make a note (we'll be doing this in the next example) that $\frac{dy}{dx}$ is the same as $y'$. Here is another example of solve a differential equation where integration is indefinite:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$y' = x + \cos(x)$ with $y(1) = 7$</p>
      <p>This is a first order linear differential equation. Start solving by integration:</p>
      <p>$\int{y'}dx = \int{(x + \cos(x))}dx \rightarrow$ integrate $\rightarrow y(x) = \frac{1}{2}x^2 + \sin(x) + C$</p>
      <p>Since $y(1) = 7$, we have the following:</p>
      <p>$7 = \frac{1}{2}(1)^2 + \sin(x) + C \implies C = 7 - \frac{1}{2} - \sin(1) \implies C = \frac{13}{2} - \sin(1)$</p>
      <p>Thus, we have the following solution:</p>
      <p><b>Solution:</b> $y(x) = \frac{1}{2}x^2 + \sin(x) + \frac{13}{2} - \sin(1)$</p>
      </div>
    </div><br>
    <p><b>Solving Differential Equations using Definite Integrals</b></p>
    <p>Take a look at the following definition: $\int^a_b f(x)dx = F(x)|_a^b = F(b) - F(a)$</p>
    <p>We can use this method to solve the exact problem in the last example:</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Finding the solution to a differential equation with initial conditions using definite integral method:</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$y' = x + \cos(x)$ with $y(1) = 7$</p>
      <p>We know that the $y(1) = 7$ implies that $x_o = 1$ and $y_o = 7$. Now let's rewrite the problem and integrate:</p>
      <p>$\int^x_{x_o}\frac{dy}{ds}ds = \int^x_{x_o}s + \cos(s)ds$</p>
      <p>Don't be intimitadated by the $s$'s. All I did was replace all of the $x$'s in the intial problem to $s$'s. This is because we don't want to confuse integration of $s$'s with the $x$ bounds. This method is commonly known as adding a "dummy variable". After integration we get:</p>
      <p>$y(s)|_{s=x_o}^{s=x} = (\frac{1}{2}s^2 + \sin(s))|_{s=x_o}^{s=x} \implies y(x) - y(x_o) = (\frac{1}{2}x^2 + \sin(x)) - (\frac{1}{2}x_o^2 + \sin(x_o)) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - (\frac{1}{2}x_o^2 + \sin(x_o)) + y(x_o) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - \frac{1}{2}(1)^2 - \sin(1) + y(1) \implies$</p>
      <p>$y(x) = \frac{1}{2}x^2 + \sin(x) - \frac{1}{2} - \sin(1) + 7 \implies$</p>
      <p><b>Solution:</b> $y(x) = \frac{1}{2}x^2 + \sin(x) + \frac{13}{2} - \sin(1)$</p>
      </div>
    </div><br>
    <p>The solutions from using the definite integral method and the indefinite integral method are equivalent! This is nice and useful, sometimes one method is faster or esaier to understand than the other.</p>
    <p><b>Special Integrals</b></p>
    <p>When solving these differential equations, it gets difficult to integrate at times. Luckily, some very smart people have solved hard integral problems. If you'd like to understand them more they can be found in integration books or on the web, but here are a few of them that we might find useful:</p>
    <p>a) $ln(x) = \int_1^x\frac{1}{s}ds$</p>
    <p>b) $\arctan(x) = \int_0^x\frac{1}{1 + s^2}ds$</p>
    <p>c) $erf(x) = \int_0^x\frac{2}{\sqrt(\pi)}e^{-s^2}ds$</p>
    <p>d) $Si(x) = \int_1^x\frac{\sin(s)}{s}ds$</p>
    <p></p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution of differential equation using one of our definitions from above</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>$\frac{dy}{dx} = e^{-x^2}$ with $y(0) = 0$</p>
      <p>First integrate: $\int_{s=x_o}^{s=x}\frac{dy}{ds}ds = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(s)|_{s=x_o}^{s=x} = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(x) - y(x_o) = \int_{s=x_o}^{s=x}e^{-s^2}ds \implies y(x) = \int_{0}^{x}e^{-s^2}ds + 0$</p>
      <p>Now notice that we can multiply both sides by $(\frac{\sqrt{\pi}}{2} * \frac{2}{\sqrt{\pi}})$. Since the this is equivalent to 1, we can leave the left hand side alone, but we can change the right hand side to be the following:</p>
      <p>$y(x) = \int_{0}^{x}e^{-s^2}ds = \frac{\sqrt{\pi}}{2} * \frac{2}{\sqrt{\pi}} * \int_{0}^{x}e^{-s^2}ds = \frac{\sqrt{\pi}}{2} * erf(x)$</p>
      <p><b>Solution:</b> $y(x) = \frac{\sqrt{\pi}}{2} * erf(x)$</p>
      </div>
    </div><br>
    <p><b>Piecewise Defined Functions</b></p>
    <p>A piecewise defined function, in simple words, is a function where in a certain region, the function is different than in another region. The following are examples of piecewise defined functions (let $\frac{dy}{dx} = f(x)$):</p>
    <p>Example 1: \begin{equation}
                  f(x) = \left\{
                          \begin{array}{ll}
                              x^2 & \quad x \lt 2 \\
                              1 & \quad x \geq 2
                          \end{array}
                      \right.
                  \end{equation}
    </p>
    <p>Example 2: \begin{equation}
                  |x| = \left\{
                          \begin{array}{ll}
                              -x & \quad x \lt 0 \\
                              x & \quad x \geq 0
                          \end{array}
                      \right.
                  \end{equation}
    </p>
    <p><b>Special Piecewise Defined Functions</b></p>
    <p>A few a these "special" piecewise defined functions are the step function and the ramp function:</p>
    <p>Step Function: \begin{equation}
                      f(x) = \text{step}(x) = \left\{
                              \begin{array}{ll}
                                  0 & \quad x \lt 0 \\
                                  1 & \quad x \gt 0
                              \end{array}
                          \right.
                      \end{equation}
    </p>
    <p>Ramp Function: \begin{equation}
                      f(x) = \text{ramp}(x) = \left\{
                              \begin{array}{ll}
                                  0 & \quad x \lt 0 \\
                                  x & \quad x \gt 0
                              \end{array}
                          \right.
                      \end{equation}
    </p>
    <p>Let's now delve into solving Example 1, the Piecewise Defined Function.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution to the Piecewise Defined Function.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>\begin{align}
              \frac{dy}{dx} = f(x) = \left\{
                  \begin{array}{ll}
                      x^2 & \quad x \lt 2 & \text{(case 1)} \\
                      1 & \quad x \geq 2 & \text{(case 2)}
                  \end{array}
                  \;\;\;\;\;\;\;    \text{with} \;\;  y(0) = 0
              \right.
          \end{align}
      </p>
      <p>We need to solve this problem case by case. Let's start with the first case:</p>
      <p><b>Case 1: $x \lt 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xs^2ds \rightarrow$</p>
        <p>$y(x) - y(0) = \frac{1}{3}s^3|_0^x \rightarrow$</p> 
        <p>$y(x) = \frac{1}{3}x^3$</p>
      </div>
      <p>We have found that for the first case, the solution to the differential equation is $y(x) = \frac{1}{3}x^3$. Now, onto the second case.</p>
      <p><b>Case 2: $x \geq 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(x)ds \rightarrow $</p>
        <p>$y(s)|_0^x = \int_0^2f(s)ds + \int_2^xf(s)ds \rightarrow $</p>
        <p>$y(x) - y(0) = \int_0^2s^2ds + \int_2^x(1)ds \rightarrow $</p>
        <p>$y(x) = \frac{1}{3}s^3|_0^2 + s|_2^x \rightarrow $</p>
        <p>$y(x) = (\frac{8}{3} - 0) + (x - 2) \rightarrow $<p>
        <p>$y(x) = x + \frac{8}{3} - 2 \rightarrow $</p> 
        <p>$y(x) = x + \frac{2}{3}$</p>
      </div>
      <p>We have now found the solution to the differential equation for the second case. Now, combining the case 1 and case 2, we can display our final solution as:</p>
      <p><b>Solution:</b> \begin{align}
                              y(x) = \left\{
                                  \begin{array}{ll}
                                      \frac{1}{3}x^3 & \quad x \lt 2 \\
                                      x + \frac{2}{3} & \quad x \geq 2
                                  \end{array}
                              \right.
                          \end{align}</p>
      </div>
    </div><br>
    <p>Another example, a more complicated one involving the stair function.</p>
    <div style="border: solid 2px; padding: 10px;">
      <p><b>Example:</b> Find solution to the Piecewise Defined Function.</p>
      <div style="padding-left: 50px; padding-right: 50px;">
      <p>\begin{equation*}
          \text{Let} \;\;\; \frac{dy}{dx} = f(x) \;\;\;\;\;\;\;
          f(x) = \begin{cases}
                       \text{stair}(x) & x \lt 4 \\
                       0 & x \geq 4
                 \end{cases} \;\;\; \quad
          \text{stair}(x) = \begin{cases}
                       0 & x < 0 \\
                       1 & 0 \leq x \lt 1 \\
                       2 & 1 \leq x \lt 2 \\
                       3 & 2 \leq x \lt 3 \\
                       \vdots & \vdots\\
                 \end{cases}
          \end{equation*}</p>
      <p>We are going to solve this problem just like we did the last. We have to break it down into steps:</p>
      <p><b>Case 1: $x \lt 0$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s)|_0^x = \int_0^x0ds \implies \fbox{y(x) - y(0) = 0}$</p>
      </div>
      <p><b>Case 2: $0 \leq x \lt 1$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s) - y(0) = \int_0^x1ds \implies$</p>
        <p>$y(x) - y(0) = s|_0^x \implies y(x) - y(0) = x - 0 \implies \fbox{y(x) - y(0) = x}$</p>
      </div>
      <p><b>Case 3: $1 \leq x \lt 2$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies \int_0^1\frac{dy}{dx}ds + \int_1^x\frac{dy}{dx}ds = \int_0^1f(s)ds + \int_1^xf(s)ds \implies$</p>
        <p>$y(s)|_0^1 + y(s)|_1^x = \int_0^1ds + \int_1^x2ds \implies y(1) - y(0) + y(x) - y(1) = s|_0^1 + 2s|_1^x \implies$</p>
        <p>Notice that in the above, $y(1) - y(1)$ cancels and we end up with:</p>
        <p>$y(x) - y(0) = 1 - 0 + 2x - 2 \implies \fbox{y(x) - y(0) = 2x - 1}$</p>
      </div>
      <p><b>Case 4: $2 \leq x \lt 3$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(s)|_0^x = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds \implies$</p> 
        <p>$y(x) - y(0) = (1) + 2s|_1^2 + 3s|_2^x \implies y(x) - y(0) = 1 + (4 - 2) + (3x + 6) \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3x - 6 \implies \fbox{y(x) - y(0) = 3x - 3}$</p>
      </div>
      <p><b>Case 5: $3 \leq x \lt 4$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(x) - y(0) = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds + \int_3^x(4)ds \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3s|_2^3 + 4s|_3^x \implies y(x) - y(0) = 3 + 9 - 6 + 4x - 12 \implies$</p>
        <p>$\fbox{y(x) - y(0) = 4x - 6}$</p> 
      </div>
      <p><b>Case 6: $x \leq 4$</b></p>
      <div style="padding-left: 20px;">
        <p>$\int_0^x\frac{dy}{dx}ds = \int_0^xf(s)ds \implies y(x) - y(0) = \int_0^1(1)ds + \int_1^2(2)ds + \int_2^x(3)ds + \int_3^x(4)ds + \int_4^x(0)ds \implies$</p>
        <p>$y(x) - y(0) = 1 + 2 + 3 + 4s|_3^4 + 0 \implies y(x) - y(0) = 1 + 2 + 3 + 16 - 12 \implies \fbox{y(x) - y(0) = 10}$</p>
      </div>
      <p>We have solved for each case! Now we can put everything into a nice solution:</p>
      <p><b>Solution:</b> \begin{equation*}
          y(x) = y(0) + \begin{cases}
                       0 & x < 0 \\
                       x & 0 \leq x \lt 1 \\
                       2x - 1 & 1 \leq x \lt 2 \\
                       3x - 3 & 2 \leq x \lt 3 \\
                       4x - 6 & 3 \leq x \lt 4 \\
                       10 & 4 \leq x
                 \end{cases}
          \end{equation*}</p>
      </div>
    </div><br> 
    <p><b>The Logistic Model: Population Density</b></p>
    <p>Now we will be getting into more complicated differential equations where we will use a method called separation of variables. These types of function will have the following Stanard Form where the right hand side of the equation involves two variables instead of one (x and y for example, instead of just x):</p>
    <p>\begin{equation*}
                 \begin{cases}
                       \frac{dy}{dx} = f(x, y) \\
                       y(x_o) = y_o
                 \end{cases}
          \end{equation*}</p>   
    <p>A popular differential equation of this form is called the logistic equation, where $t$ is time and $P$ is population. $\alpha$ and $\beta$ are rates and $P_o$ is initial population:</p>
    <p>\begin{equation*}
                 \text{Logistic Equation:} \;\;\;\begin{cases}
                       \frac{dP}{dt} = \alpha P - \beta P^2 \\
                       P(0) = P_o
                 \end{cases}
          \end{equation*}</p>
    <p>The goal is to solve for the population using separation of variables. Let's look at some examples:</p>
    <p></p>
  </div>

</body>
</html>

{% endblock %}