{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Examples</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>Important, fully explained mathematical examples can be found on this page.</p>

    <p><b>Partial Fraction Decomposition</b></p>
    <div style="border: solid 2px; padding: 10px;">
    <p>What is partial fraction decomposition and when to use it?</p>
      <p>Partial fraction decomposition is a method to use when we want to seprarte a fraction into multiple fractions in order to simplify the expression. This is done a lot in calculus when performing integration. Some complicated fractions are difficult to integrate and if we are able to split up the fraction into multiple, then integrating becomes easier. Let's jump right into an example where we use partial fraction decomposition to simplify.</p>
      <p style="text-align: center;">$$\frac{1}{x(x + 1)}$$</p>
      <p>Our first task is to simplify and factor the denominator as much as possible before we split anything up. It is important also not to factor if it results in complex numbers. For example, we don't want to reduce $x^2 + 4$, because then we end up getting $(x + 2i)(x - 2i)$, which are complex numbers. For our example, when we split it up, we don't need to worry about complex numbers. In choosing how to split up the fraction, we split up every element in parenthesis, but also if we are given an element with an exponent, say $x^3$, then we must split the fraction up including $x$, $x^2$, and $x^3$. For now, I'll go through our simple example, then I'll go over more complicated examples.</p>
      <p>For $\frac{1}{x(x + 1)}$, we want to split it up into two fractions:</p>
      <p>$$\frac{A}{x} + \frac{B}{x + 1}$$</p>
      <p></p>
    </div>
    <p></p>

  </div>
  
</body>
</html>

{% endblock %}