{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Examples</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>Important, fully explained mathematical examples can be found on this page.</p>

    <p><b>Partial Fraction Decomposition</b></p>
    <div style="border: solid 2px; padding: 10px;">
    <p>What is partial fraction decomposition and when to use it?</p>
      <p>Partial fraction decomposition is a method to use when we want to seprarte a fraction into multiple fractions in order to simplify the expression. This is done a lot in calculus when performing integration. Some complicated fractions are difficult to integrate and if we are able to split up the fraction into multiple, then integrating becomes easier. Let's jump right into an example where we use partial fraction decomposition to simplify.</p>
      <p style="text-align: center;">$$\frac{1}{x(x + 1)}$$</p>
      <p>Our first task is to simplify and factor the denominator as much as possible before we split anything up. It is important also not to factor if it results in complex numbers. For example, we don't want to reduce $(x + 1)^2$ In this example, it's pretty </p>
    </div>
    <p></p>

  </div>
  
</body>
</html>

{% endblock %}