{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">The Great Books</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>This is a collection of personal notes taken from reading the The Great Books which I'll be reading with Jacob Roberts (my brother). In reading the great classics, I see the only necessary way to proceed is to document each reading session. This collection of literature is far too involved to merely skim over each page. I've completed reading a few of these books already such as Melville's Moby Dick, Darwin's The Origin of Species, Plato's The Republic and a variety of Shakespeare's works. In reading these, there's not much I can take away. There's a lot I've forgotten and I haven't applied much of what I read. My initial motivation in reading such great books was to simply say I've read them, but now it's time I use what I've read to hopefully gain a greater education. I'll be documenting each reading session to each of The Great Books I read and my notes can be found in the links below.</p>
  	<p>
		<table>
			<tr><td><a href="/theGreatConversation/">The Great Conversation</td></tr>
			<tr><td><a href="/theIliadOfHomer/">The Iliad of Homer</td></tr>
		</table>
	</p>

  </div>
  
</body>
</html>

{% endblock %}