{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Notes From The Iliad of Homer</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>As I delve into this book I'd like to state that I have very little knowlegde of Greek mythology, and I think this book has a lot of it. To keep track of things I've listed below a table of all the characters that I come across:</p>
    <table>
      <tr>
        <td style="border: 2px solid"><b>Character Name</b></td>
        <td style="border: 2px solid"><b>About</b></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Achilles</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Peleus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Achaeans</td>
        <td style="border: 2px solid">A people</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Jove</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hades</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Apollo</td>
        <td style="border: 2px solid">Son of Jove</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Leto</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Atreus</td>
        <td style="border: 2px solid">God of war</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Agamemnon</td>
        <td style="border: 2px solid">Son of Atreus and king of Achaean army.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Clytemnestra</td>
        <td style="border: 2px solid">Wife of Agamemnon.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Menelaus</td>
        <td style="border: 2px solid">Son of Atreus and king of Sparta.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Chryses</td>
        <td style="border: 2px solid">A priest</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Calchas</td>
        <td style="border: 2px solid">Son of Thester, the most wise augur who could tell things past, present and to come.</td>
      </tr>

    </table>

    
    <p><b>BOOK I</b></p>

    <p><b>Date: </b>5-10-22</p>
    
    <p>This story begins by saying there was some great peril that was brought upon the Achaeans. Sending many of them down to Hades due to a consistent plague. The son of Jove, and Leto were the culprits of this. They were mad because the kings of the Achaeans had dishonoured Chryses.</p>
    <p>The Achaeans had kidnapped Chryses' daughter, so Chryses traveled to the Achaeans to get her back. By doing so he offered the chiefs of the Achaeans a ransom; specifically "the sceptre Apollo, wreathed with a suppliant's wreath".</p>
    <p>Agamemnon heard Chryses' plea to get his daughter back but Agamemnon would not accept his ransom. He told Chryses to leave and never come back, contrary to the rest of the Achaeans who wanted to accept the ransom.</p>
    <p>Chryses then prayed to the god Apollo, asking him to "avenge his tears", which I believe meant he wished to have the Achaeans killed, or at least Agamemnon. Apollo answered his prayer, came down from Olympus, and shot the Achaeans' livestock for 9 days. Finally, Achilles, in his confusion, approached Calchas and asked him if he know why the livestock were being killed and why they obtained a plague. Thereon, a seer told Achilles that it was because of the God Apollo and that the only way to stop the plague and the killings was to give Chryses his daughter back. Agamemnon heard this and was furious.</p>
    <p>Agamemnon went on to say that he loved the girl more than his wife, but that he would give her away if it saves his people from the plague. However, he said he'd still require a "prize". Achilles said he doesn't need one and there's nothing to give him. Agamemnon agreed to sail away to return Chryses' daughter, but still demanded a prize, this time from Achilles and Achilles now grew angry with Agamemnon for Agamemnon expressed hurtful words towards Achilles.</p>


  </div>


  
</body>
</html>

{% endblock %}