{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Notes From The Iliad of Homer</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>As I delve into this book I'd like to state that I have very little knowlegde of Greek mythology, and I think this book has a lot of it. To keep track of things I've listed below a table of all the characters that I come across:</p>
    <table>
      <tr>
        <td style="border: 2px solid"><b>Character Name</b></td>
        <td style="border: 2px solid"><b>About</b></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Achilles (Greek man)</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Thetis (Goddess)</td>
        <td style="border: 2px solid">Mother to Achilles, wife to Peleus and a sea goddess.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Briseis (Trojan woman)</td>
        <td style="border: 2px solid">Beautiful princess, stolen by the greeks after the Trojan war and given to Achilles. She then falls in love with Achilles.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Patroclus (Greek man)</td>
        <td style="border: 2px solid">Son of Menoetius. Best friend and companion of Achilles.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Peleus (Greek man)</td>
        <td style="border: 2px solid">Father of Achilles and king of Phthia.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hades (God)</td>
        <td style="border: 2px solid">Son of Zeus and king of the underworld and the dead.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Apollo (God)</td>
        <td style="border: 2px solid">God of the sun, music, dance, and poetry. Son of Zeus, in favor of the Trojans.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Leto (Goddess)</td>
        <td style="border: 2px solid">One of Zeus's consorts who bore with him two children: Apollo and Artemis. Goddess of fertility.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Atreus (God)</td>
        <td style="border: 2px solid">God of war.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Agamemnon (Greek man)</td>
        <td style="border: 2px solid">Son of Atreus and king of Achaean army.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Clytemnestra (Greek woman)</td>
        <td style="border: 2px solid">Wife of Agamemnon.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Menelaus (Greek man)</td>
        <td style="border: 2px solid">Son of Atreus and king of Sparta.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Chryses (Trojan man)</td>
        <td style="border: 2px solid">The priest of Apollo.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Chryseis (Trojan woman)</td>
        <td style="border: 2px solid">Daughter of Chryses, captured by the greeks.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Calchas (Greek man)</td>
        <td style="border: 2px solid">Son of Thester, the wisest augur who could tell things past, present and to come.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Minerva/Athena (Goddess)</td>
        <td style="border: 2px solid">Goddess of wisdom, and daughter of Zeus. Also known as Athena and is in favor of the greeks.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Juno/Hera (Goddess)</td>
        <td style="border: 2px solid">Wife of Zeus, daughter of Cronus. Also known as Hera, and is in favor of the greeks. Goddess of love and marriage.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Zeus/Jove/Jupiter (God)</td>
        <td style="border: 2px solid">King of the Gods, son of Cronus and ruler of the sky.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hector (Trojan man)</td>
        <td style="border: 2px solid">Son of Priam and commander of the Trojan army.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Nestor (Greek man)</td>
        <td style="border: 2px solid">Speaker of Pylians, old king of Pylus and Dorium.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ulysses (Greek man)</td>
        <td style="border: 2px solid">Greek warrior and captian.</td>
      </tr>


    </table>

    
    <p><b>BOOK I</b></p>
    
    <p>This story begins by saying there was some great peril that was brought upon the Achaeans. Sending many of them down to Hades due to a consistent plague. The son of Jove, and Leto were the culprits of this. They were mad because the kings of the Achaeans had dishonoured Chryses.</p>
    <p>The Achaeans had kidnapped Chryses' daughter, so Chryses traveled to the Achaeans to get her back. By doing so he offered the chiefs of the Achaeans a ransom; specifically "the sceptre Apollo, wreathed with a suppliant's wreath".</p>
    <p>Agamemnon heard Chryses' plea to get his daughter back but Agamemnon would not accept his ransom. He told Chryses to leave and never come back, contrary to the rest of the Achaeans who wanted to accept the ransom.</p>
    <p>Chryses then prayed to the god Apollo, asking him to "avenge his tears", which I believe meant he wished to have the Achaeans killed, or at least Agamemnon. Apollo answered his prayer, came down from Olympus, and shot the Achaeans' livestock for 9 days. Finally, Achilles, in his confusion, approached Calchas and asked him if he know why the livestock were being killed and why they obtained a plague. Thereon, a seer told Achilles that it was because of the God Apollo and that the only way to stop the plague and the killings was to give Chryses his daughter back. Agamemnon heard this and was furious.</p>
    <p>Agamemnon went on to say that he loved the girl more than his wife, but that he would give her away if it saves his people from the plague. However, he said he'd still require a "prize". Achilles said he doesn't need one and there's nothing to give him. Agamemnon agreed to sail away to return Chryses' daughter, but still demanded a prize, this time from Achilles and Achilles now grew angry with Agamemnon for Agamemnon expressed hurtful words towards Achilles.</p>
    <p>Now Achilles was furous with Agememnon, he nearly drew his sword in anger when Minerva, goddess of wisdom, came down from the heavens and stopped him. Instead, Achilles simply proceeded to insult Agamemnon back, essentially calling him a coward.</p>
    <p>Hector intervened, said Agamemnon should not take the girl away because Achilles will one day become king and replace Agamemnon. Agamemnon agreed that Achilles is a great warrior, but a foolish one. They eventually came to an accord and the Achaeans took Chryses' daughter, Chryseis, on a ship to deliever her back to the Chryses.</p>
    <p>Now remember how Agamemnon said he would not give away Chryseis without a prize in return? After not recieving anything, he sent his servants to steal Bresies, a woman living with Achilles, his "true love". Achilles was aware of the theives and let them take Brieis to Agamemnon, but told the gaurds that Agamemnon will regret stealing from "the great Achilles".</p>
    <p>Achilles wept to his mother and told her everything that happened. He asked for her to beckon Zeus for help and so she said she'd visit Olympus and ask him to aid Achilles in his time of sorrow.</p>
    <p>Meanwhile, the Achaeans arrived to Chryses, lead by Ulysses. They delivered Chryseis, feasted happily, then sailed back to their home. The god Apollo had thus forgiven the Achaeans.</p>
    <p>Thetis ended up making it to Olympus, pressed Zeus to do something about Achilles losing Briseis, and Zeus never made a decision. He pondered about it, suggested that he could force the Trojans to attack the Achaeans, but Zeus's wife Juno did not like that idea since she was fond of the Achaeans. The fought the idea for a while, their son The Vulcan calmed them down, they then drank sweet nectar and all went to bed, with Zeus still needing to make a decision about what to do for Achilles.</p>
  
    <p><b>NOTE: </b>Now that I've got a good grasp on the characters, I'll proceed to read each book without taking notes as I go. Instead I'll finish each book with a summary of events.</p>

    <p><b>BOOK II</b></p>


  </div>

  

  
</body>
</html>

{% endblock %}