{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Notes From The Odyssey</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>As I delve into this book I'd like to state that I have very little knowlegde of Greek mythology, and I think this book has a lot of it. To keep track of things I've listed below a table of all the characters that I come across:</p>
    <table>
      <tr>
        <td style="border: 2px solid"><b>Character Name</b></td>
        <td style="border: 2px solid"><b>About</b></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Achilles (Greek man)</td>
        <td style="border: 2px solid">Son of mortal Peleus and goddess Thetis. King of the Myrmidons and greatest warrior of the Greeks in the battle between the Achaeans and the Trojans.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Pheonix (Greek man)</td>
        <td style="border: 2px solid">Son of Amyntor and second father to Achilles.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Thetis (Goddess)</td>
        <td style="border: 2px solid">Mother to Achilles, wife to Peleus and a sea goddess.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Briseis (Trojan woman)</td>
        <td style="border: 2px solid">Beautiful princess, stolen by the greeks after the Trojan war and given to Achilles. She then falls in love with Achilles.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Patroclus (Greek man)</td>
        <td style="border: 2px solid">Son of Menoetius. Best friend and companion of Achilles.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Peleus (Greek man)</td>
        <td style="border: 2px solid">Father of Achilles and king of Phthia.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hades (God)</td>
        <td style="border: 2px solid">Son of Zeus and king of the underworld and the dead.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Apollo (God)</td>
        <td style="border: 2px solid">God of the sun, music, dance, and poetry. Son of Zeus, in favor of the Trojans.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Leto (Goddess)</td>
        <td style="border: 2px solid">One of Zeus's consorts who bore with him two children: Apollo and Artemis. Goddess of fertility.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Atreus (God)</td>
        <td style="border: 2px solid">God of war.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Agamemnon (Greek man)</td>
        <td style="border: 2px solid">Son of Atreus and king of Achaean army.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Clytemnestra (Greek woman)</td>
        <td style="border: 2px solid">Wife of Agamemnon.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Menelaus (Greek man)</td>
        <td style="border: 2px solid">Son of Atreus and king of Sparta.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Chryses (Trojan man)</td>
        <td style="border: 2px solid">The priest of Apollo.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Chryseis (Trojan woman)</td>
        <td style="border: 2px solid">Daughter of Chryses, captured by the Greeks.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Calchas (Greek man)</td>
        <td style="border: 2px solid">Son of Thester, the wisest augur who could tell things past, present and to come.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Minerva/Athena (Goddess)</td>
        <td style="border: 2px solid">Goddess of wisdom, and daughter of Zeus. Also known as Athena and is in favor of the Greeks.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Juno/Hera (Goddess)</td>
        <td style="border: 2px solid">Wife of Zeus, daughter of Cronus. Also known as Hera, and is in favor of the Greeks. Goddess of love and marriage.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Zeus/Jove/Jupiter (God)</td>
        <td style="border: 2px solid">King of the Gods, son of Cronus and ruler of the sky.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Priam (Trojan man)</td>
        <td style="border: 2px solid">The last king of Troy. Father to Hector and Paris (as well as 48 other sons and many daughters).</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hector (Trojan man)</td>
        <td style="border: 2px solid">Son of Priam and commander of the Trojan army.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Alexander/Paris (Trojan Man)</td>
        <td style="border: 2px solid">Warrior of the Torjan army, husband to Helen, and brother to Hector.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Nestor (Greek man)</td>
        <td style="border: 2px solid">Speaker of Pylians, old king of Pylus and Dorium.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ulysses (Greek man)</td>
        <td style="border: 2px solid">Greek warrior and captian.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Eurybates (Greek man)</td>
        <td style="border: 2px solid">A man of Ithaca and servant of Ulysses.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Thersites (Greek man)</td>
        <td style="border: 2px solid">A soldier of the Greek army in the battle of the Trojan war, and known as a very ugly man.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Helen (Greek woman)</td>
        <td style="border: 2px solid">Of Troy, most beautiful woman of Greece and daughter of Zeus.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Venus/Aphrodite (Goddess)</td>
        <td style="border: 2px solid">Goddess of beauty and love. Daughter of Zeus.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Diomed (Greek man)</td>
        <td style="border: 2px solid">Son of Tydeus. Argive warrior in the battle of the Trojans and Achaeans.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Dares (Trojan man)</td>
        <td style="border: 2px solid">Priest of Vulcan. Father of Trojan warriors Phegeus and Idaeus.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hephaestus/Vulcan (God)</td>
        <td style="border: 2px solid">Son of Zeus, in favor of the Greeks and god of blacksmiths, metalworking, carpenters, craftsmen, artisans, sculptors, metallurgy, fire and volcanos.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ares/Mars (God)</td>
        <td style="border: 2px solid">Son of Zeus, in favor of the Trojans and the Roman god of war. Also an agricultural guardian.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Diomed (Greek man)</td>
        <td style="border: 2px solid">Commander of 80 Argive ships and a great warrior in the battle between the Trojans and Greeks. Son of Tydeus</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Glaucus (Greek man)</td>
        <td style="border: 2px solid">Son of Hippolochus, a Lycian prince, and a warrior who assisted the Trojans. Also friend of Diomed.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ajax (Greek man)</td>
        <td style="border: 2px solid">Son of Telamon and king of Salamis. Known as a great warrior and a towering figure.</td>
      </tr>
      <tr>
        <td style="border: 2px solid">Teucer (Greek man)</td>
        <td style="border: 2px solid">Nephew of King Priam, but fought for the Achaeans. A skilled Archer.</td>
      </tr>


    </table>

    
    <p><b>BOOK I</b></p>
    
    <p></p>

  </div>

</body>
</html>

{% endblock %}