{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>
  
  <h2 style="text-align: center;">Notes From The Odyssey</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>As I delve into this book I'd like to state that I have very little knowlegde of Greek mythology, and I think this book has a lot of it. To keep track of things I've listed below a table of all the characters that I come across:</p>
    <table>
      <tr>
        <td style="border: 2px solid"><b>Character Name</b></td>
        <td style="border: 2px solid"><b>About</b></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ulysses</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Telemachus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Hyperion</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Calypso</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Neptune</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Aegisthus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Agmamemnon</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Orestes</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Mercury</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Atlas</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Polyphemus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Thoosa</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Phorcys</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Phemius</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Mentes</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Anchialus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ilus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Mermerus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Nestor</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Menelaus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Minerva</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Aegyptius</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Antiphus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Eurynomus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Jove</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Pisenor</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Themis</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Antinous</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Laertes</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Tyro</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Alcmena</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Mycene</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Icarius</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Erinyes</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Halitherses</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Polybus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Eurymachus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Evenor</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Leiocritus</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Mentor</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Halitherses</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Penelope</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Ops</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Euryclea</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Phronius</td>
        <td style="border: 2px solid"></td>
      </tr>
      <tr>
        <td style="border: 2px solid">Noemon</td>
        <td style="border: 2px solid"></td>
      </tr>

    </table>

    
    <p><b>BOOK I</b></p>
    
    <p></p>

  </div>

</body>
</html>

{% endblock %}