{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>

  <h2 style="text-align: center;">Research</h2>
  
  <div style="padding-right: 50px; padding-left: 50px;">
  	<p>I'd like to conduct research in Biomathematics and/or Applied Math in Biology. To keep myself updated in biological terminology and methods in biology, I'll be putting notes here on this page.</p>

    <table>
      <tr>
        <td>
          <button class="button" type="button" onclick="showDiv('terminology')">Terminology</button>
        </td>
      </tr>
      <tr>
        <td>
          <div id="terminology" style="display: none;">
            <p><b><u>Microscope Terminology:</u></b><p>
            <b>Light Microscope: </b><br>
            <b>Stereomicroscopes: </b><br>
            <b>Dissecting Microscopes: </b><br>
            <b>Electron Microscope: </b><br>
            <b>Transmission Electron Microscope (TEM): </b><br>
            <b>Scanning Electron Microscope (SEM): </b><br>
            <b>Scanning Tunneling Microscope: </b><br>
            <p><b><u>Cell Terminology:</u></b></p>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <div style="padding: 15px; background: black; color: white; font-size: 16px; position: fixed; bottom: 0;width: 100%;">
    <b>Sources:</b><br>
    Garber, Steven D. <i>Biology: A Self-Teaching Guide.</i> Wiley.
  </div>
  
</body>
</html>

{% endblock %}