{% extends 'main/base.html' %}

{% block content %}

{% load static %}
<html>
<body>

<script type="text/javascript">
  function showDivNote(divid) {

    var x = document.getElementById(divid);  
    var a = document.getElementById("bioterminology");
    var b = document.getElementById("hummingbirdNotes");
    
    a.style.display = "none";
    b.style.display = "none";
    x.style.display = "block";
  }
</script>
<script type="text/javascript">
  function showDivResearch(divid) {

    var x = document.getElementById(divid);  
    var a = document.getElementById("hummingbirds");
    var b = document.getElementById("biology");
    
    a.style.display = "none";
    b.style.display = "none";
    x.style.display = "block";
  }
</script>



  <h2 style="text-align: center;">Research</h2>
  
  <div style="padding-right: 50px; padding-left: 50px; height: 600px;">
  	<p>I'd like to conduct research in Biomathematics and/or Applied Math in Biology. To keep myself updated in biological terminology and methods in biology, I'll be putting notes here on this page.</p>

    <table width="100%" height="500px">
      <tr valign="top">
        <td width="50%" style="border: 2px solid;">   
          <div class="dropdown">
            <button class="dropbtn">Notes and Terminology</button>
            <div class="dropdown-content">
              <a class="button" type="button" onclick="showDivNote('bioterminology')">Biological Terminology</a>
              <a class="button" type="button" onclick="showDivNote('hummingbirdNotes')">Hummingbird Notes</a>
            </div>
          </div>
          <div id="bioterminology" style="display: none;">
            <p>Nothing to display here yet.</p>
            <!-- <p><b><u>Microscope Terminology:</u></b><p>
            <b>Light Microscope: </b>A tool that uses light to detect and enlarge small objects or specimens. With it, we can examine specimens by thinly slicing them, allowing light to pass through.<br>
            <b>Stereomicroscopes (or Dissecting Microscopes): </b><br>

            <b>Electron Microscope: </b><br>
            <b>Transmission Electron Microscope (TEM): </b><br>
            <b>Scanning Electron Microscope (SEM): </b><br>
            <b>Scanning Tunneling Microscope: </b><br>
            <p><b><u>Cell Terminology:</u></b></p> -->
          </div>
          <div id="hummingbirdNotes" style="display: none;">
            <p>Here are some notes on hummingbirds.</p>
          </div>
        </td>
        <td width="50%" style="border: 2px solid;">
          
          <div class="dropdown">
            <button class="dropbtn">Research Topics</button>
            <div class="dropdown-content">
              <a class="button" type="button" onclick="showDivResearch('hummingbirds')">Hummingbirds</a>
              <a class="button" type="button" onclick="showDivResearch('biology')">Biology</a>
            </div>
          </div>
        
          <div id="hummingbirds" style="display: none;">
            <p>Here is some text on hummingbirds and have they behave.</p>
          </div>
          <div id="biology" style="display: none;">
            <p>Here is some text on my biology studies.</p>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <br><br><br><br><br><br><br>
  <div style="padding: 15px; background: black; color: white; font-size: 16px; position: fixed; bottom: 0;width: 100%;">
    <b>Sources:</b><br>
    Garber, Steven D. <i>Biology: A Self-Teaching Guide.</i> Wiley.
  </div>
  
</body>
</html>

{% endblock %}